<main class="fix">
  <div class="teachers-area product-pge gray-bg position-relative fix">
    <div>
      <img src="assets/img/g-1.svg" alt="" class="g-1 position-absolute" />
      <img src="assets/img/g-2.svg" alt="" class="g-2 position-absolute" />
      <div class="container">
        <div class="text-center">
          <div class="tc">
            MAKING <span class="title-pole">EDUCATION SIMPLER!</span>
          </div>
          <div class="mt-5">
            <div>
              <img
                src="../assets/nrichgroupimg.png"
                height="100%"
                width="100%"
                alt=""
              />
            </div>
          </div>
          <div class="box-1">
            <div class="row">
              <div class="col-sm-3">
                <div class="box-1-text">1,000+</div>
                <div class="box-1-text2">Hours /Day</div>
              </div>
              <div class="col-sm-3">
                <div class="box-1-text">15,000</div>
                <div class="box-1-text2">downloads</div>
              </div>
              <div class="col-sm-3">
                <div class="box-1-text">500+</div>
                <div class="box-1-text2">Teachers</div>
              </div>
              <div class="col-sm-3">
                <div class="box-1-text">1M +</div>
                <div class="box-1-text2">Screen time</div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="choose-area">
    <div class="container">
      <div class="row">
        <div class="col-md-5">
          <div class="box2-text">
            Solve the Unsolved <br />
            <span style="color: rgba(0, 126, 242, 1)"><b> Serve the Unserved</b></span>
          </div>

          <div class="text-s mt-4">
            <span>
              <span class="d">We</span> started
              <span class="d">NRICH Learning</span> with a simple mission to
              make edutech accessible & inclusive. To elevate the Education &
              Learning experience for all stakeholders of the industry.
            </span>
          </div>
          <div class="text-smt-2">
            Technology has broken the barriers & removed the boundaries however
            it also left a digital divide between the have’s and have-not’s.
            Affordability to technology, infrastructure & gadgets created few
            islands of digital citizens while others struggled to be on par.
          </div>
          <div class="text-s mt-2">
            <span class="d">NRICH Learning</span> was developed to remove the
            disparity between the urban and rural, between the have’s and
            have-not’s between the technology skilled and technology challenged.
          </div>
          <div class="text-s mt-2">
            At <span class="d">NRICH Learning</span> , Our motto is to make the
            tools and technology <span class="d">Simple</span> to bring
            <span class="d"> Powerful </span> transformation in the lives of
            teachers & students towards a
            <span class="d"> Leadership</span> journey.
          </div>
          <div class="text-s mt-2">
            Feel FREED from all your limitations & make the Wise Choice. Let
            NRICH Enrich your decisions.
          </div>
        </div>
        <div class="col-md-7">
          <div style="border-radius: 20px; margin-top: 50px">
            <div>
              <img
                src="../assets/Imagenrichgroup.png"
                style="width: 100%; max-height: 500px"
              />
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="choose-area">
    <div class="container">
      <div class="row">
        <div class="col-md-6">
          <div class="b2t">
            Passion is to
            <br />
            <span style="color: rgba(0, 126, 242, 1)"><b> Deliver Excellence</b></span>
          </div>
        </div>
        <div class="col-md-6">
          <div class="t-s">
            1000+ hours of listening to the experts and aspirants in the
            Edu-tech space gave us the Passion to deliver beyond a learning
            aggregator platform. NRICH brings technology advantage to Edu-tech
            space. <br>

            Passion into Education & delivering Excellence in Learning is the
            promise we give to every client & we continue to deliver the
            promise.
          </div>
        </div>
      </div>
      <div class="card" style="border-radius: 30px">
        <div class="card-body">
          <img
            src="../assets/Screenshot 11233333333333.png"
            style="border-radius: 20px; width: 100%; height: 100%"
            alt=""
          />
        </div>
      </div>
    </div>
  </div>
  <div class="choose-area">
    <div class="container">
      <div class="text-center">
        <div class="b3t">Enriching the experience</div>
        <div class="b3t">
          <b> <span style="color: rgba(0, 126, 242, 1)"> NRICH Learning </span> </b>
        </div>
      </div>
      <div class="row mt-5">
        <div class="col-md-4 mt-4">
          <div class="card" style="border-radius: 10px">
            <div class="card-body">
              <div class="cp" style="background: #eaf5ff">
                <div class="text-center">
                  <img
                    class="img-a"
                    src="../assets/Assignment ind.png"
                    alt=""
                  />
                  <div class="img-a-1 mt-5">
                    <img
                      src="../assets/images-marketing/Description.png"
                      alt=""
                    />
                  </div>
                </div>
              </div>
              <div class="img-a-2 text-center mt-2">
                Elevate the education & learning experience for everyone in this
                universe.
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-4 mt-4">
          <div class="card" style="border-radius: 10px">
            <div class="card-body">
              <div class="cp" style="background: rgba(255, 169, 44, 0.1)">
                <div class="text-center">
                  <img
                    class="img-a"
                    src="../assets/images-marketing/ooui_newspaper-ltr.svg"
                    alt=""
                  />
                  <div class="img-a-1 mt-5">
                    <img src="../assets/images-marketing/2.png" alt="" />
                  </div>
                </div>
              </div>
              <div class="img-a-2">
                Remove the digital divide by making technology affordable &
                accessible.
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-4 mt-4">
          <div class="card" style="border-radius: 10px">
            <div class="card-body">
              <div class="cp" style="background: rgba(255, 99, 95, 0.1)">
                <div class="text-center">
                  <img
                    class="img-a"
                    src="../assets/images-marketing/Vector.svg"
                    alt=""
                  />
                  <div class="img-a-1 mt-5">
                    <img
                      src="../assets/images-marketing/Description.svg"
                      alt=""
                    />
                  </div>
                </div>
              </div>
              <div class="img-a-2">
                Feel freed from limitations. Feel freed to make right decisions.
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="choose-area">
    <div class="container">
      <div class="text-center">
        <div class="round-top">OUR <span style="color: rgba(0, 126, 242, 1)">TEAM </span></div>
      </div>
      <div class="row">
        <div class="col-md-4" style="margin-top: 200px">
          <div class="card" style="border-radius: 10px">
            <div class="card-body text-center">
              <div class="img-round">
                <img src="../assets/images-marketing/robin.svg" alt="" />
              </div>
              <div class="round-t">Grwoth manager</div>
              <div class="round-t2" style="margin-top: 10px">Robin Reji</div>
              <div class="round-t3" style="margin-top: 10px">
                <span> <b> Short Info </b> </span> Meet your organization's
                unique style customization options style
              </div>
              <div class="round-t4" style="margin-top: 20px">
                View Profile
                <span
                  ><img src="../assets/Keyboard arrow right.png" alt=""
                /></span>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-4" style="margin-top: 200px">
          <div class="card" style="border-radius: 10px">
            <div class="card-body text-center">
              <div class="img-round">
                <img src="../assets/images-marketing/Ellipse 15.svg" alt="" />
              </div>
              <div class="round-t">customer experience</div>
              <div class="round-t2" style="margin-top: 10px">
                Priyanka Sharma
              </div>
              <div class="round-t3" style="margin-top: 10px">
                Meet your organization's unique style customization options
                style
              </div>
              <div class="round-t4" style="margin-top: 20px">
                View Profile
                <span
                  ><img src="../assets/Keyboard arrow right.png" alt=""
                /></span>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-4" style="margin-top: 200px">
          <div class="card" style="border-radius: 10px">
            <div class="card-body text-center">
              <div class="img-round">
                <img src="../assets/images-marketing/shivani.svg" alt="" />
              </div>
              <div class="round-t">revenue manager</div>
              <div class="round-t2" style="margin-top: 10px">Shivani Jain</div>
              <div class="round-t3" style="margin-top: 10px">
                Meet your organization's unique style customization options
                style
              </div>
              <div class="round-t4" style="margin-top: 20px">
                View Profile
                <span
                  ><img src="../assets/Keyboard arrow right.png" alt=""
                /></span>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-4" style="margin-top: 200px">
          <div class="card" style="border-radius: 10px">
            <div class="card-body text-center">
              <div class="img-round">
                <img src="../assets/images-marketing/trideep.svg" alt="" />
              </div>
              <div class="round-t">budgets</div>
              <div class="round-t2" style="margin-top: 10px">Trideep Saha</div>
              <div class="round-t3" style="margin-top: 10px">
                Meet your organization's unique style customization options
                style
              </div>
              <div class="round-t4" style="margin-top: 20px">
                View Profile
                <span
                  ><img src="../assets/Keyboard arrow right.png" alt=""
                /></span>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-4" style="margin-top: 200px">
          <div class="card" style="border-radius: 10px">
            <div class="card-body text-center">
              <div class="img-round">
                <img src="../assets/images-marketing/kajal.svg" alt="" />
              </div>
              <div class="round-t">Human capital</div>
              <div class="round-t2" style="margin-top: 10px">Kajal Ghawari</div>
              <div class="round-t3" style="margin-top: 10px">
                Meet your organization's unique style customization options
                style
              </div>
              <div class="round-t4" style="margin-top: 20px">
                View Profile
                <span
                  ><img src="../assets/Keyboard arrow right.png" alt=""
                /></span>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-4" style="margin-top: 200px">
          <div class="card" style="border-radius: 10px">
            <div class="card-body text-center">
              <div class="img-round">
                <img src="../assets/images-marketing/ajay.svg" alt="" />
              </div>
              <div class="round-t">IT Manager</div>
              <div class="round-t2" style="margin-top: 10px">Ajay Shahi</div>
              <div class="round-t3" style="margin-top: 10px">
                Meet your organization's unique style customization options
                style
              </div>
              <div class="round-t4" style="margin-top: 20px">
                View Profile
                <span
                  ><img src="../assets/Keyboard arrow right.png" alt=""
                /></span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="choose-area">
    <div class="container">
      <div class="text-center">
        <h3>People TRUST Us</h3>
        <div class="img-a-3">
          We did not promise them Stars & Moon. When we met them we committed
          only 3 things. <span><b> Simple Powerful & Leader.</b></span>
          And today we are Glad that we delivered on what we promised.
        </div>
      </div>
      <div class="row mt-5">
        <div class="col-md-6" style="margin-top: 20px">
          <div class="card">
            <div class="card-body">
              <span>
                <img src="../assets/images-marketing/institute.png" alt="" />
                &nbsp;&nbsp;
                <span>
                  <div class="cat-content">
                    <h6>Institute Name</h6>
                    <div class="is-t">Tailored Tutor Platform</div>
                  </div></span
                >
              </span>
            </div>
          </div>
        </div>
        <div class="col-md-6" style="margin-top: 20px">
            <div class="card">
              <div class="card-body">
                <span>
                  <img src="../assets/images-marketing/institute.png" alt="" />
                  &nbsp;&nbsp;
                  <span>
                    <div class="cat-content">
                      <h6>Institute Name</h6>
                      <div class="is-t">Tailored Tutor Platform</div>
                    </div></span
                  >
                </span>
              </div>
            </div>
          </div> <div class="col-md-6" style="margin-top: 20px">
            <div class="card">
              <div class="card-body">
                <span>
                  <img src="../assets/images-marketing/institute.png" alt="" />
                  &nbsp;&nbsp;
                  <span>
                    <div class="cat-content">
                      <h6>Institute Name</h6>
                      <div class="is-t">Tailored Tutor Platform</div>
                    </div></span
                  >
                </span>
              </div>
            </div>
          </div> <div class="col-md-6" style="margin-top: 20px">
            <div class="card">
              <div class="card-body">
                <span>
                  <img src="../assets/images-marketing/institute.png" alt="" />
                  &nbsp;&nbsp;
                  <span>
                    <div class="cat-content">
                      <h6>Institute Name</h6>
                      <div class="is-t">Tailored Tutor Platform</div>
                    </div></span
                  >
                </span>
              </div>
            </div>
          </div> <div class="col-md-6" style="margin-top: 20px">
            <div class="card">
              <div class="card-body">
                <span>
                  <img src="../assets/images-marketing/institute.png" alt="" />
                  &nbsp;&nbsp;
                  <span>
                    <div class="cat-content">
                      <h6>Institute Name</h6>
                      <div class="is-t">Tailored Tutor Platform</div>
                    </div></span
                  >
                </span>
              </div>
            </div>
          </div> <div class="col-md-6" style="margin-top: 20px">
            <div class="card">
              <div class="card-body">
                <span>
                  <img src="../assets/images-marketing/institute.png" alt="" />
                  &nbsp;&nbsp;
                  <span>
                    <div class="cat-content">
                      <h6>Institute Name</h6>
                      <div class="is-t">Tailored Tutor Platform</div>
                    </div></span
                  >
                </span>
              </div>
            </div>
          </div>
      </div>
    </div>
  </div>
  <div class="choose-area">
    <div class="container">
      <div class="minus-margin">
        <div
          class="institue-active gap-35 slider_shadow gray arw-design slick-initialized slick-slider right_shadow_active"
        >
          <button type="button" class="slick-prev slick-arrow" (click)="prev()">
            <i class="far fa-angle-left"></i>
          </button>
          <div class="slick-list draggable">
            <div class="slick-track">
              <ngx-slick-carousel
                class="carousel"
                #slickModal="slick-carousel"
                [config]="slideConfig"
                (init)="slickInit($event)"
                (breakpoint)="breakpoint($event)"
              >
                <div
                  ngxSlickItem
                  *ngFor="let institute of slides"
                  class="institue-item slick-slide"
                  data-slick-index="0"
                  aria-hidden="true"
                >
                  <h3 class="text-center">TESTIMONIALS</h3>
                  <div class="institue-g-wrapper">
                    <div class="insti-left">
                      <div class="card">
                        <div class="card-body">
                          <img
                            src="../assets/photo-1540569014015-19a7be504e3a.webp"
                            style="max-height: 300px; width: 100%"
                            alt=""
                          />
                        </div>
                      </div>
                    </div>
                    <div class="insti-right">
                      <div class="cmn-content">
                        <h4
                          class="title-pole"
                          style="
                            color: #007ef2;
                            font-style: Bold;
                            font-size: 38px;
                          "
                        >
                        NRICH made a <br>
                        positive impact
                        </h4>
                        <p>
                            A good platform with various options to choose teacher of your choice and a good learning platform to study from.
                        </p>
                       
                      </div>
                       <div class="img-a-2 text-align"><b> Kajal Ghawari, Student</b></div>
                    </div>
                  </div>
                  <!-- ./institue-g-wrapper -->
                </div>
              </ngx-slick-carousel>
            </div>
          </div>

          <button type="button" class="slick-next slick-arrow" (click)="next()">
            <i class="far fa-angle-right"></i>
          </button>
        </div>
      </div>
    </div>
  </div>
</main>
