<mat-tab-group mat-align-tabs="vertical">
   <mat-tab label="Submitted Assignments">
      <div class="card">
         <div class="card-body">
            <div id="table" class="table-editable">
               <table class="table table-bordered table-responsive-md table-striped text-center">
                  <thead>
                     <tr>
                        <th>Sr No.</th>
                        <th>
                           Assignment Name</th>
                        <th>
                           Submission Type
                        </th>
                        <th>
                           Last Submission Date
                        </th>
                        <th>Grade Type</th>
                        <th>Evaluation Status</th>

                        <th *ngIf="assignments?.length != 0">Action</th>
                     </tr>
                  </thead>
                  <tbody>
                     <tr *ngIf="assignments?.length == 0">
                        <td colspan="5">No Record Found.</td>
                     </tr>
                     <tr class="" *ngFor="let element of assignments;let i=index">
                        <td>{{ i+1 }}</td>
                        <td> {{ element.name }}</td>
                        <td> {{ element.submissiontype }}</td>
                        <td>{{element.submissionFrom | date}}</td>
                        <td> {{ element.gradeType | uppercase }} </td>
                        <td><span class="badge bg-success" [ngClass]="{'badge badge-success':element.requestStatus}">
                              {{element.requestStatus}}</span></td>



                        <td>
                           <mat-icon aria-hidden="false" mat-button [matMenuTriggerFor]="menu"
                              aria-label="Example home icon">
                              menu
                           </mat-icon>
                           <mat-menu #menu="matMenu">
                              <button mat-menu-item (click)="viewAssignment(element)">
                                 View Assignment
                              </button>
                              <button mat-menu-item *ngIf="element.grade" (click)="checkGrade(element)">
                                 Check Grades
                              </button>
                              <button mat-menu-item *ngIf="element.marks || element.marks == 0 "
                                 (click)="checkMarks(element)">
                                 Check Marks
                              </button>
                              <button mat-menu-item [disabled]="element.requestStatus!='Evaluated'"
                                 (click)="requestForReevaluation(element.id)">
                                 Request For Re-evaluation
                              </button>
                           </mat-menu>

                        </td>
                     </tr>

                  </tbody>
               </table>
               <app-table-paginator [size]="size" [totalElements]="totalSubmitCount" (pageChange)="submitPageChange($event)"
               (changeSize)="submitSizeChange($event)"></app-table-paginator>
            </div>
         </div>
      </div>
   </mat-tab>
   <mat-tab label="Pending Assignments">
      <div class="card">

         <div class="card-body">
            <div id="table" class="table-editable">

               <table class="table table-bordered table-responsive-md table-striped text-center">
                  <thead>
                     <tr>
                        <th>S No.</th>
                        <th>
                           Assignment Name</th>
                        <th>
                           Submission Type</th>
                        <th>Last Submission Date</th>
                        <th>
                           Grade Type</th>

                        <th *ngIf="pendingAssignments?.length != 0">Action</th>
                     </tr>
                  </thead>
                  <tbody>
                     <tr *ngIf="pendingAssignments?.length == 0">
                        <td colspan="5">No Record Found.</td>
                     </tr>
                     <tr class="" *ngFor="let element of pendingAssignments;let i =index">
                        <td>{{ i+1 }}</td>
                        <td> {{ element.name }}</td>
                        <td> {{ element.submissiontype }}</td>
                        <td> {{element.submissionFrom | date}}</td>
                        <td> {{ element.gradeType | uppercase }} </td>


                        <td>
                           <mat-icon aria-hidden="false" mat-button [matMenuTriggerFor]="menu"
                              aria-label="Example home icon">
                              menu
                           </mat-icon>
                           <mat-menu #menu="matMenu">
                              <button mat-menu-item (click)="submitAssignment(element)">
                                 Submit Assignment
                              </button>
                           </mat-menu>
                        </td>
                     </tr>

                  </tbody>
               </table>
               <app-table-paginator [size]="size" [totalElements]="totalPendingCount" (pageChange)="pendingPageChange($event)"
               (changeSize)="pendingSizeChange($event)"></app-table-paginator>
            </div>
         </div>
      </div>
   </mat-tab>
</mat-tab-group>