<main class="fix">
   <div class="section-cover" id="hero-area">
    <div class="hero-area fix position-relative">
      <img src="assets/img/g-1.svg" alt="" class="g-1 position-absolute" />
      <img src="assets/img/g-2.svg" alt="" class="g-2 position-absolute" />
      <div class="container cs-padding">
        <div class="hero-g-wrapper">
          <div class="hero-left-content">
            <div class="section-title">
              <h2>
                  Get your school <span class="title-pole">Future</span>
                  
               <span class="title-pole position-relative"> Ready <img
                          class="text-btm-line position-absolute" src="assets/img/line-1.png" alt=""></span>
              </h2>
          </div>
          <p>Elevate your SCHOOL Digitally Powerful. <br>
              Access our Technology. <span style="color:#008CE4 ;"><b> Free Trial No Credit Card</b></span>
          </p>
           

            <form action="#" class="search position-relative">
              <button class="btn box-btn fill-blue position-absolute">
                SEARCH
              </button>
              <input type="text" placeholder="What Do You Want To Learn ?" />
              <ul class="suggetions position-absolute w-100 start-0 end-0">
                <li>Subject</li>
                <li>Subject</li>
                <li>Subject</li>
                <li>Subject</li>
                <li>Subject</li>
              </ul>
            </form>
            
          </div>
          <!-- ./hero-left-wrapper -->

          <div class="hero-right-content">
            <div class="hero-main-img-wrap position-relative">
              <div class="trans-box position-absolute top-0 start-0">
                <img
                  src="assets/img/move-1.png"
                  alt=""
                  class="position-absolute move-1"
                />
                <img
                  src="assets/img/move-2.png"
                  alt=""
                  class="position-absolute move-2"
                />
                <img
                  src="assets/img/move-3.png"
                  alt=""
                  class="position-absolute move-3"
                />
                <img
                  src="assets/img/move-4.png"
                  alt=""
                  class="position-absolute move-4"
                />
              </div>
              <img
                class="hero-main-img img-fluid w-100 z-index-1"
                src="assets/img/hero-main-img.svg"
                alt=""
              />
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- ./hero-area -->
  </div>
  <div class="cta-area position-relative z-index-2">
    <h2 style="color: white; margin-left: 10%">Build my Digital Campus</h2>
    <div class="container type-2 cs-padding">
      <div class="cta-g-wrapper">
        <fieldset>
          <legend>Full Name</legend>
          <input
            class="form-control"
            type="text"
            placeholder="John Smith"
            id="fullname"
          />
        </fieldset>
        <fieldset>
          <legend>+91</legend>
          <input
            class="form-control"
            type="text"
            placeholder="Mobile Number"
            id="number"
          />
        </fieldset>
        <fieldset class="z-index-1">
          <legend>Your Level</legend>
          <select
            name="level-selection"
            id="level-selection"
            class="selection"
            style="display: none"
          >
            <option value="highschool" selected="">High School</option>
            <option value="">High School</option>
            <option value="">High School</option>
            <option value="">High School</option>
          </select>
          <div class="nice-select selection" tabindex="0">
            <span class="current">High School</span>
            <ul class="list">
              <li data-value="highschool" class="option selected">
                High School
              </li>
              <li data-value="" class="option">High School</li>
              <li data-value="" class="option">High School</li>
              <li data-value="" class="option">High School</li>
            </ul>
          </div>
        </fieldset>
        <div class="action h-100 w-100">
          <a
            href="#"
            class="btn btn-medium_round d-flex align-items-center justify-content-center text-uppercase h-100 w-100"
            ><span class="text-gradient">Get FREE Marketing Assistance</span></a
          >
        </div>
      </div>
    </div>
  </div>
  <div class="branding-area position-relative">
    <img
      src="assets/img/qq.svg"
      alt=""
      class="qq end-0 top-0 position-absolute"
    />
    <img src="assets/img/g-2.svg" alt="" class="g-2 position-absolute" />
    <div class="container cs-padding z-index-1">
      <div class="brand-content position-relative">
        <img src="assets/img/sq-1.png" alt="" class="sq-1 position-absolute" />
        <img src="assets/img/sq-2.png" alt="" class="sq-2 position-absolute" />
        <div class="section-title mb-0">
          <h2 style="color: #007ef2; font-size: 30px">
            Schools you manage & we 
            manage your technology
          </h2>
          <p>
            NRICH Learning Platform to power your business in Education space. 
            If dream to make your School globally competitive, we have  the right solutions for you. 
            Choose any plan from managing your daily workflows to launching a Digital Campus.
          </p>
        </div>
      </div>

      <div class="row">
        <div class="col-md-6">
            <div class="card" style="border-radius: 10px; max-width:  547px;">
                <div class="card-body">
                    <div class="card" style="padding: 10px; border-radius:10px;background: #EAF5FF;">
                        <div class="card-body text-center">
                           <img src="../assets/Online.png"  alt="">
                           <div style="margin-top: 40px;">
                            <img src="../assets/Course app-rafiki 1.png" style="width: 100%;
                            height: 100%" alt="">
                           </div>
                        </div>
                    </div>
                    <div class="text-center" style="color:#8491A5 ; font-weight: 400;
                    font-size: 18px;
                    line-height: 34px;align-items: center; margin-top: 20px;">Teach Online through NRICH Live integarted Learning Management System</div>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="card" style="border-radius: 10px; max-width:  547px;">
                <div class="card-body">
                    <div class="card" style="padding: 10px; border-radius:10px;background: #FFE6E5;">
                        <div class="card-body text-center">
                           <img src="../assets/Offline.png"  alt="">
                           <div style="margin-top: 40px;">
                            <img src="../assets/Teaching-amico 1.png" style="width: 100%;
                            height: 100%;" alt="">
                           </div>
                        </div>
                    </div>
                    <div class="text-center" style="color:#8491A5 ;font-weight: 400;
                    font-size: 18px;
                    line-height: 34px;
                    align-items: center; margin-top: 20px;">Manage admission process to exit process using Student Management System</div>
                </div>
            </div>
        </div>
      </div>
     
      <div class="row" style="margin-top: 60px">
        <div class="col-md-6">
          <h3>
            1 Stop Solution
           <br>
           <span style="color: #007EF2">
           in Education  </span>
          </h3>
        </div>
        <div class="col-md-6">
          <p style="color: #8491a5">
            While Directory listing websites give you only advertising space, at NRICH Learning you get listing ++ secured technology infrastructure to make your School a Global Standard Educational Business in your own branding.
          </p>
        </div>
      </div>
      <div class="row" style="margin-top: 20px">
        <div class="col-md-4">
            <div class="card"  style="border-radius: 14px;">
                <div class="card-body">
                    <div class="card" style="background: #F6F8FF; padding:13px;  border-radius: 15px;max-height: 320px; overflow: hidden;">
                        <div class="card-body ">
                            <div class="text-center">
                            <h5 style="color: #8491A5;">Directory</h5>
                            <img src="../assets/images-marketing/Course Listing.svg" height="100%" alt="">
                        </div>
                        </div>
                    </div>
                </div>
            </div>
          
        </div>
        <div class="col-md-4">
            <div class="card"  style="border-radius: 14px;">
                <div class="card-body">
                    <div class="card" style="background: #F6F8FF; padding:13px;  border-radius: 15px;max-height: 320px; overflow: hidden;">
                        <div class="card-body ">
                            <div class="text-center">
                            <h5 style="color: #8491A5;">LMS</h5>
                            <img src="../assets/images-marketing/Dashboard 1.png" height="100%" alt="">
                        </div>
                        </div>
                    </div>
                </div>
            </div>
          
        </div>
        <div class="col-md-4">
            <div class="card"  style="border-radius: 14px;">
                <div class="card-body">
                    <div class="card" style="background: #F6F8FF; padding:13px;  border-radius: 15px;max-height: 320px; overflow: hidden;">
                        <div class="card-body ">
                            <div class="text-center">
                            <h5 style="color: #8491A5;">Schedules</h5>
                            <img src="../assets/images-marketing/cal 1.svg" height="100%" alt="">
                        </div>
                        </div>
                    </div>
                </div>
            </div>
          
        </div>
       
      </div>
      
    </div>
  </div>
  <div style="padding: 30px;">
    <img src="../assets/images-marketing/student-led=power.svg" class="w-100 h-100" alt="">
  </div>
  <div class="section-cover fix"  id="course-area" style="background-color: white; margin-top: 30px;">
    <div class="course-area position-relative">
      <img
        src="assets/img/slice-1.png"
        alt=""
        class="slice-1 position-absolute"
      />
      <div class="container cs-padding">
        <div>
          <div class="section-title text-center">
            <h2>
              Managing school made 
                
             <span class="title-pole ">  simple </span>
            </h2>
            <div class="ms-t">
              Unlock your teaching skills to elevate students’ learning potential & create wealth.
NRICH Learning is the only education portal to position your business stand tall against your competitors. 
List your skills with NRICH and gain visibility with the largest Student community. <span> <b>Get Listed & Get Promoted.</b> </span> 

            </div>
        </div>
        </div>
       <div style="background-image: url(../assets/images-marketing/Doodle\ Set\ 1.svg);"> 
      <img src="../assets/images-marketing/gr.svg" style="width: 100%; height:100%" alt="">
      </div>
        </div>
        </div>
        </div>
  <div class="section-cover fix"  id="course-area" style="background-color: white;">
    <div class="course-area position-relative">
      <img
        src="assets/img/slice-1.png"
        alt=""
        class="slice-1 position-absolute"
      />
      <div class="container cs-padding">
        <div class="section-title text-center">
          <h3>
            Amazing Features & Amazing Price
<br />
            <span class="title-pole  position-relative">
                The Platform to survive the future
            </span>
          </h3>
        </div>
        <nav class="text-center">
          <div
            class="nav nav-tabs course-tab border-0"
            id="nav-tab"
            role="tablist"
          >
            <button
              class="nav-link active"
              id="nav-home-tab"
              data-bs-toggle="tab"
              data-bs-target="#nav-home"
              type="button"
              role="tab"
              aria-controls="nav-home"
              aria-selected="true"
            >
           EVALUATION
            </button>
            <button
              class="nav-link"
              id="nav-profile-tab"
              data-bs-toggle="tab"
              data-bs-target="#nav-profile"
              type="button"
              role="tab"
              aria-controls="nav-profile"
              aria-selected="false"
            >
              LMS
            </button>
            <button
              class="nav-link"
              id="nav-contact-tab"
              data-bs-toggle="tab"
              data-bs-target="#nav-contact"
              type="button"
              role="tab"
              aria-controls="nav-contact"
              aria-selected="false"
            >
              SECURED
            </button>
            <button
              class="nav-link"
              id="nav-trending-tab"
              data-bs-toggle="tab"
              data-bs-target="#nav-trending"
              type="button"
              role="tab"
              aria-controls="nav-trending"
              aria-selected="false"
            >
              Dashboard
            </button>
            <button
              class="nav-link"
              id="nav-popular-tab"
              data-bs-toggle="tab"
              data-bs-target="#nav-popular"
              type="button"
              role="tab"
              aria-controls="nav-popular"
              aria-selected="false"
            >
              Attendance
            </button>
            <button
            class="nav-link"
            id="nav-popular-tab"
            data-bs-toggle="tab"
            data-bs-target="#nav-popular"
            type="button"
            role="tab"
            aria-controls="nav-popular"
            aria-selected="false"
          >
            SMS
          </button>
          </div>
        </nav>
        <div class="tab-content minus-margin" id="nav-tabContent" style="margin-top: 40px;">
          <div
            class="tab-pane fade show active"
            id="nav-home"
            role="tabpanel"
            aria-labelledby="nav-home-tab"
          >
            <div class="tb-content">
             <div class="row">
                <div class="col-md-6">
                    <div class="text-center" style="margin-top: 60px;">
                        <h3>Learning Made Simple</h3>
                        <p style="color:#8491A5 ;">Power packed features from uploading courses and assigning evaluation tasks to individual students.
                            LMS - Learning Management System</p>
                            <div class="mt-4">
                                <span>
                                    <span>
                                        <img src="../assets/Group 39305.png" height="35" width="35" alt="">
                                    </span> &nbsp;&nbsp;
                                    <span>
                                        <img src="../assets/Group 39306.png"  height="35" width="35" alt="">
                                    </span>&nbsp;&nbsp;
                                    <span>
                                        <img src="../assets/Group 39307.png"  height="35" width="35" alt="">
                                    </span>
                                </span>
                            </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <img src="../assets/Screenshot 2022-10-05 142033.png" alt="">
                </div>
             </div>

             
            </div>
          </div>
          <div
            class="tab-pane fade"
            id="nav-profile"
            role="tabpanel"
            aria-labelledby="nav-profile-tab"
          >
            ...
          </div>
          <div
            class="tab-pane fade"
            id="nav-contact"
            role="tabpanel"
            aria-labelledby="nav-contact-tab"
          >
            ...
          </div>
          <div
            class="tab-pane fade"
            id="nav-trending"
            role="tabpanel"
            aria-labelledby="nav-trending-tab"
          >
            ...
          </div>
          <div
            class="tab-pane fade"
            id="nav-popular"
            role="tabpanel"
            aria-labelledby="nav-popular-tab"
          >
            ...
          </div>
        </div>
        
      </div>
    </div>
    <!-- ./course-area -->
  </div>
  <div class="section-cover fix"  id="course-area" style="background-color: white; ">
    <div class="course-area position-relative">
      <img
        src="assets/img/slice-1.png"
        alt=""
        class="slice-1 position-absolute"
      />
      <div class="container cs-padding">
        <div class="section-title text-center">
          <h3>
            Social Connect & Be the LEADER
           
            
<br />
            <span class="title-pole  position-relative">
              Future of Collective Communities
            </span>
          </h3>
          <p style="color: #8491A5;">
            Collective learning and peer-to-peer support enable better learning outcomes. Add competitive edge for students and teachers alike with our Social Connect.
          </p>
        </div>
        <app-mobile-social-slider></app-mobile-social-slider>
        </div>
        </div>
        </div>
        <div class="section-cover fix"  id="course-area" style="background-color: white; margin-top: 30px;">
          <div class="course-area position-relative">
            <img
              src="assets/img/slice-1.png"
              alt=""
              class="slice-1 position-absolute"
            />
            <div class="container cs-padding">
              <div>
                <div class="section-title text-center">
                  <h2> <b>Make the technology work for you</b>
                  </h2>
                  <div class="ms-t2">
                    Expand your school Globally, enroll students Online
                    & manage your operations Digitally
                    Get your own website & mobile app with your subscription.
      
                  </div>
                  <a _ngcontent-san-c246="" class="btn box-btn view-course" href="/marketing/course-list?search=allCourses">Subscribe Now</a>
              </div>
              </div>
             <div > 
            <img src="../assets/images-marketing/phonetab.svg" style="width: 100%; height:100%" alt="">
            </div>
              </div>
              </div>
              </div>
</main>