<main>
  <div class="" style="margin-top: 150px;">
    <div class="text-center" >
      <div class="text-center">
        <div class="section-title">
          <h2>
          
            <span class="title-pole  position-relative">  Expand your </span>
            <span class=" sign position-relative"> Horizon</span>
          </h2>
        </div>
        <p>
          Unable decide the curated courses for your skillset?
          <strong class="d-block">Grab a free demo right now !</strong>
        </p>
        <div>
        <div
          class="text-center"
          style=" align-items: center; margin-top: 60px"
        >
          <form
            action="#"
            class="search position-relative"
            style="max-width: 500px;width: 100%; margin-left: auto; margin-right: auto;"
          >
            <button class="btn box-btn fill-blue position-absolute">
              SEARCH
            </button>
            <input type="text" placeholder="What Do You Want To Learn ?" />
            <ul class="suggetions position-absolute w-100 start-0 end-0">
              <li>Subject</li>
              <li>Subject</li>
              <li>Subject</li>
              <li>Subject</li>
              <li>Subject</li>
            </ul>
          </form>
        </div>
      </div>
    </div>
  </div></div>
<div>
  <img src="../assets/images-marketing/cd-78.svg" style="width:100%;height:700px; margin-bottom: -100px;" alt="">
</div>
  
  <div class="cta-area position-relative z-index-2">
    <h2 style="color: white; margin-left: 10%">Build my Digital Campus</h2>
    <div class="container type-2 cs-padding">
      <div class="cta-g-wrapper">
        <fieldset>
          <legend>Full Name</legend>
          <input
            class="form-control"
            type="text"
            placeholder="John Smith"
            id="fullname"
          />
        </fieldset>
        <fieldset>
          <legend>+91</legend>
          <input
            class="form-control"
            type="text"
            placeholder="Mobile Number"
            id="number"
          />
        </fieldset>
        <fieldset class="z-index-1">
          <legend>Your Level</legend>
          <select
            name="level-selection"
            id="level-selection"
            class="selection"
            style="display: none"
          >
            <option value="highschool" selected="">High School</option>
            <option value="">High School</option>
            <option value="">High School</option>
            <option value="">High School</option>
          </select>
          <div class="nice-select selection" tabindex="0">
            <span class="current">High School</span>
            <ul class="list">
              <li data-value="highschool" class="option selected">
                High School
              </li>
              <li data-value="" class="option">High School</li>
              <li data-value="" class="option">High School</li>
              <li data-value="" class="option">High School</li>
            </ul>
          </div>
        </fieldset>
        <div class="action h-100 w-100">
          <a
            href="#"
            class="btn btn-medium_round d-flex align-items-center justify-content-center text-uppercase h-100 w-100"
            ><span class="text-gradient">Get FREE Marketing Assistance</span></a
          >
        </div>
      </div>
    </div>
  </div>
  <div class="branding-area position-relative" style="background-color: white;">
    <img
      src="assets/img/qq.svg"
      alt=""
      class="qq end-0 top-0 position-absolute"
    />
    <img src="assets/img/g-2.svg" alt="" class="g-2 position-absolute" />
    <div class="container cs-padding z-index-1">
      <div class="brand-content position-relative">
        <img src="assets/img/sq-1.png" alt="" class="sq-1 position-absolute" />
        <img src="assets/img/sq-2.png" alt="" class="sq-2 position-absolute" />
        <div class="section-title mb-0">
          <h2 style="color: #007ef2; font-size: 30px">
            Take your business Global
          </h2>
          <p>
            Training Institutes struggle to expand. The Technology is always broken. 
            Tools that promise Online Video Teaching bleed  more money more than your profits. 
            Zoom in to NRICH Learning to manage your institute efficiently to Global Standards.  
          </p>
        </div>
      </div>
      <div class="text-center">
       
        <div class="video position-relative">
          <img src="assets/img/v-bg.jpg" alt="" class="v-bg img-fluid w-100" />
          <a
            href="https://www.youtube.com/watch?v=olboi3ttUi8&amp;ab_channel=4EverGreen"
            class="play-video position-absolute top-50 start-50"
            ><i class="fas fa-play"></i
          ></a>
        </div>
      </div>
      <div class="row" style="margin-top: 60px">
        <div class="col-md-6">
          <div class="section-title">
            <h3>
              Make your Teaching
              <br> <span class="title-pole"> more </span>
                
             <span class="title-pole position-relative">Powerful <img
                        class="text-btm-line position-absolute" src="assets/img/line-1.png" alt=""></span>
            </h3>
        </div>
        </div>
        <div class="col-md-6">
          <p style="color: #8491a5">
            Video Teaching Platform built with focus on Teachers & Institutes to help them Teach & create Content at Scale.
          </p>
        </div>
      </div>
      <div class="row" style="margin-top: 20px">
        <div class="col-md-6">
          <img
            src="../assets/images-marketing/Features 1.svg"
            style="height: 100%; width: 100%"
            alt=""
          />
        </div>
        <div class="col-md-6">
          <div class="row">
            <div class="col-md-12 mt-3">
              <div class="category-item-nr" style="border: 1px solid #f1eef303">
                <div class="cat-icon">
                  <img src="../assets/Feather Icon.png" alt="" />
                </div>
                <div class="cat-content">
                  <h6>Whiteboard</h6>
                  <p>
                    Porttitor tempor consequat tristique faucibus netus massa.
                    Auctor nibh faucibus felis mauris vitae. Morbi
                  </p>
                </div>
              </div>
            </div>
            <div class="col-md-12 mt-3">
              <div class="category-item-nr" style="border: 1px solid #f1eef303">
                <div class="cat-icon">
                  <img src="../assets/Feather Icon-2.png" alt="" />
                </div>
                <div class="cat-content">
                  <h6>LMS</h6>
                  <p>
                    Erat sed ut porta ultrices. Tincidunt vulputate justo,
                    interdum imperdiet viverra in non, eu. In tortor odio in
                  </p>
                </div>
              </div>
            </div>
            <div class="col-md-12 mt-3">
              <div class="category-item-nr" style="border: 1px solid #f1eef303">
                <div class="cat-icon">
                  <img src="../assets/Avatar 12.png" alt="" />
                </div>
                <div class="cat-content">
                  <h6>Group Sessions</h6>
                  <p>
                    Massa donec vivamus ultrices nascetur velit egestas. Augue
                    facilisis sed at mattis ac auctor a feugiat sed.
                  </p>
                </div>
              </div>
            </div>
            <div class="col-md-12 mt-3">
              <div class="category-item-nr" style="border: 1px solid #f1eef303">
                <div class="cat-icon">
                  <img src="../assets/Avatar13.png" alt="" />
                </div>
                <div class="cat-content">
                  <h6>Digital Library</h6>
                  <p>
                    Tincidunt laoreet ultricies vulputate congue sagittis
                    dignissim orci, sapien ridiculus. Magna tincidunt arcu a.
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="box-1">
        <div class="row">
          <div class="col-sm-3">
            <div class="box-1-text mt-5">12.2M+</div>
            <div class="box-1-text2">users</div>
          </div>
          <div class="col-sm-3">
            <div class="box-1-text mt-5">15,000</div>
            <div class="box-1-text2">downloads</div>
          </div>
          <div class="col-sm-3">
            <div class="box-1-text mt-5">809</div>
            <div class="box-1-text2">review</div>
          </div>
          <div class="col-sm-3">
            <div class="box-1-text mt-5">12K+</div>
            <div class="box-1-text2">solutions</div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="section-cover fix" id="category-area">
    <div class="category-area gray-bg position-relative">
      <img
        src="assets/img/blocks-1.png"
        alt=""
        class="block-1 img-fluid position-absolute"
      />
      <img
        src="assets/img/blocks-2.png"
        alt=""
        class="block-2 img-fluid position-absolute"
      />
      <div class="container cs-padding z-index-1">
        <div class="text-center">
          <h3>Subscribe <br> <span style="color: #007ef2"> be the Leader</span></h3>
        </div>
        <div class="row mt-5">
          <div class="col-md-4">
            <div class="card mt-5" style="border-radius: 10px">
              <div class="card-body">
                <div class="cp" style="background: #eaf5ff">
                  <div class="text-center">
                    <img
                      class="img-a"
                      src="../assets/Assignment ind.png"
                      alt=""
                    />
                    <div class="img-a-1 mt-5">
                      <img
                        src="../assets/images-marketing/pro.svg"
                        alt=""
                      />
                    </div>
                  </div>
                </div>
                <div class="img-a-2 text-center mt-2">
                  Publish your profile & promote your skills globally
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="card mt-5" style="border-radius: 10px">
              <div class="card-body">
                <div class="cp" style="background: rgba(255, 169, 44, 0.1)">
                  <div class="text-center">
                    <img
                      class="img-a"
                      src="../assets/images-marketing/ooui_newspaper-ltr.svg"
                      alt=""
                    />
                    <div class="img-a-1 mt-5">
                      <img src="../assets/images-marketing/cou.svg" alt="" />
                    </div>
                  </div>
                </div>
                <div class="img-a-2">
                  Create your own customized course materials efficiently
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="card mt-5" style="border-radius: 10px">
              <div class="card-body">
                <div class="cp" style="background: rgba(255, 99, 95, 0.1)">
                  <div class="text-center">
                    <img
                      class="img-a"
                      src="../assets/images-marketing/Vector.svg"
                      alt=""
                    />
                    <div class="img-a-1 mt-5">
                      <img
                        src="../assets/images-marketing/audi.svg"
                        alt=""
                      />
                    </div>
                  </div>
                </div>
                <div class="img-a-2">
                  Take your business from regional to global
                </div>
              </div>
            </div>
          </div>
        </div>

        <!-- ./course-g-wrapper -->
      </div>
    </div>
    <!-- ./category-area -->
  </div>
  <div class="section-cover fix" id="course-area" style="background-color: white;">
    <div class="course-area position-relative">
      <img
        src="assets/img/slice-1.png"
        alt=""
        class="slice-1 position-absolute"
      />
      <div class="container cs-padding">
        <div class="section-title text-center">
          <h3>
            Amazing Features & Amazing Price
<br />
            <span class="title-pole  position-relative">
                The Platform to survive the future
            </span>
          </h3>
        </div>
        <nav class="text-center">
          <div
            class="nav nav-tabs course-tab border-0"
            id="nav-tab"
            role="tablist"
          >
            <button
              class="nav-link active"
              id="nav-home-tab"
              data-bs-toggle="tab"
              data-bs-target="#nav-home"
              type="button"
              role="tab"
              aria-controls="nav-home"
              aria-selected="true"
            >
           EVALUATION
            </button>
            <button
              class="nav-link"
              id="nav-profile-tab"
              data-bs-toggle="tab"
              data-bs-target="#nav-profile"
              type="button"
              role="tab"
              aria-controls="nav-profile"
              aria-selected="false"
            >
              LMS
            </button>
            <button
              class="nav-link"
              id="nav-contact-tab"
              data-bs-toggle="tab"
              data-bs-target="#nav-contact"
              type="button"
              role="tab"
              aria-controls="nav-contact"
              aria-selected="false"
            >
              SECURED
            </button>
            <button
              class="nav-link"
              id="nav-trending-tab"
              data-bs-toggle="tab"
              data-bs-target="#nav-trending"
              type="button"
              role="tab"
              aria-controls="nav-trending"
              aria-selected="false"
            >
              Dashboard
            </button>
            <button
              class="nav-link"
              id="nav-popular-tab"
              data-bs-toggle="tab"
              data-bs-target="#nav-popular"
              type="button"
              role="tab"
              aria-controls="nav-popular"
              aria-selected="false"
            >
              Attendance
            </button>
            <button
            class="nav-link"
            id="nav-popular-tab"
            data-bs-toggle="tab"
            data-bs-target="#nav-popular"
            type="button"
            role="tab"
            aria-controls="nav-popular"
            aria-selected="false"
          >
            SMS
          </button>
          </div>
        </nav>
        <div class="tab-content minus-margin" id="nav-tabContent" style="margin-top: 40px;">
          <div
            class="tab-pane fade show active"
            id="nav-home"
            role="tabpanel"
            aria-labelledby="nav-home-tab"
          >
            <div class="tb-content">
             <div class="row">
                <div class="col-md-6">
                    <div class="text-center" style="margin-top: 60px;">
                        <h3>Learning Made Simple</h3>
                        <p style="color:#8491A5 ;">Power packed features from uploading courses and assigning evaluation tasks to individual students.
                            LMS - Learning Management System</p>
                            <div class="mt-4">
                                <span>
                                    <span>
                                        <img src="../assets/Group 39305.png" height="35" width="35" alt="">
                                    </span> &nbsp;&nbsp;
                                    <span>
                                        <img src="../assets/Group 39306.png"  height="35" width="35" alt="">
                                    </span>&nbsp;&nbsp;
                                    <span>
                                        <img src="../assets/Group 39307.png"  height="35" width="35" alt="">
                                    </span>
                                </span>
                            </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <img src="../assets/Screenshot 2022-10-05 142033.png" alt="">
                </div>
             </div>

             
            </div>
          </div>
          <div
            class="tab-pane fade"
            id="nav-profile"
            role="tabpanel"
            aria-labelledby="nav-profile-tab"
          >
            ...
          </div>
          <div
            class="tab-pane fade"
            id="nav-contact"
            role="tabpanel"
            aria-labelledby="nav-contact-tab"
          >
            ...
          </div>
          <div
            class="tab-pane fade"
            id="nav-trending"
            role="tabpanel"
            aria-labelledby="nav-trending-tab"
          >
            ...
          </div>
          <div
            class="tab-pane fade"
            id="nav-popular"
            role="tabpanel"
            aria-labelledby="nav-popular-tab"
          >
            ...
          </div>
        </div>
        <div class="text-center">
       </div>
      </div>
    </div>
    <!-- ./course-area -->
  </div>
  <div class="category-area gray-bg position-relative">
                    <img src="assets/img/blocks-1.png" alt="" class="block-1 img-fluid position-absolute">
                    <img src="assets/img/blocks-2.png" alt="" class="block-2 img-fluid position-absolute">
                    <div class="container cs-padding z-index-1">
                        
                         <div class="text-center">
                            <h3 style="color: #007EF2;">NRICH ensures increased Profits </h3>
                            <div class="t-e">Say goodbye to advertisements that, Bleed your wallet.</div>
                         </div>

                         <div class="row mt-5">
                          <div class="col-md-4">
                            <div class="card mt-5" style="border-radius: 10px">
                              <div class="card-body">
                                <div class="cp" style="background: #eaf5ff">
                                  <div class="text-center">
                                    <img
                                      class="img-a"
                                      src="../assets/images-marketing/49-upload-file-solid 1.svg"
                                      alt=""
                                    />
                                    <div class="img-a-1 mt-5">
                                      <img
                                        src="../assets/images-marketing/Publish.svg"
                                        alt=""
                                      />
                                    </div>
                                  </div>
                                </div>
                               
                              </div>
                            </div>
                          </div>
                          <div class="col-md-4">
                            <div class="card mt-5" style="border-radius: 10px">
                              <div class="card-body">
                                <div class="cp" style="background: rgba(255, 169, 44, 0.1)">
                                  <div class="text-center">
                                    <img
                                      class="img-a"
                                      src="../assets/images-marketing/1-share-solid 1.svg"
                                      alt=""
                                    />
                                    <div class="img-a-1 mt-5">
                                      <img src="../assets/images-marketing/Promote.svg" alt="" />
                                    </div>
                                  </div>
                                </div>
                               
                              </div>
                            </div>
                          </div>
                          <div class="col-md-4">
                            <div class="card mt-5" style="border-radius: 10px">
                              <div class="card-body">
                                <div class="cp" style="background: rgba(255, 99, 95, 0.1)">
                                  <div class="text-center">
                                    <img
                                      class="img-a"
                                      src="../assets/images-marketing/134-celebration-solid 1.svg"
                                      alt=""
                                    />
                                    <div class="img-a-1 mt-5">
                                      <img
                                        src="../assets/images-marketing/Position.svg"
                                        alt=""
                                      />
                                    </div>
                                  </div>
                                </div>
                               
                              </div>
                            </div>
                          </div>
                        </div>

                         <!-- ./course-g-wrapper -->
                         <div class="mt-7" style="margin-top: 120px;">
                          <img src="../assets/images-marketing/mob-12.svg"  style="width: 100%; height:100%" alt="">
                         </div>
                    </div>
                </div>
</main>
