<div class="helper-div position-relative">
    <img src="assets/img/gg-2.png" alt="" class="gg-2 position-absolute">
    <div class="cmn-box z-index-1">
        <h3 class="tertiary-title medium text-start">Institute Highlights</h3>
        <ul class="hightlight-list">
            <li>
                <p><img src="assets/img/h-1.png" alt=""><span>Courses</span>5</p>
            </li>

            <li>
                <p><img src="assets/img/h-5.png" alt=""><span>Teacher count</span>{{instituteDetails.teachersCount}}</p>
            </li>
            <li>
                <p><img src="assets/img/h-3.png" alt=""><span>Contact no.</span>{{instituteDetails.mobileNumber}}</p>
            </li>
            <li>
                <p><img src="assets/img/h-4.png" alt=""><span>Address</span>{{instituteDetails.address}}
                </p>
            </li>
            <!-- <li>
                <p><img src="assets/img/h-5.png" alt=""><span>Studied At</span>IIT Kanpu,
                    India
                </p>
            </li> -->
        </ul>

        <a href="#" class="btn box-btn border-style-medium blue w-100"><i
                class="far fa-plus"></i>Follow</a>
    </div>
</div>