<main class="fix">
    <div class="teachers-area product-pge gray-bg position-relative fix">

<div class="t-h">
    Enrich the community <div class="title-pole"> with Nrich Learning </div>
</div>
<div  class="a-t-center text-center">
<div class="t black1 ">
    In the age of ecommerce, people  purchase online. Why should your teaching skills and services be left behind? Enrich the community with your skills. Become a Teacher with NRICH.
</div>
</div>
<div class="text-center mt-2" style="padding: 60px;">
    <img src="../assets/images-marketing/3-tabes.svg" style="max-width:1068px" class="w-100 h-100" alt="">

</div>




        </div>
        <div class="t-h2">1 Subscription that takes you to <span style="color:  rgba(0, 126, 242, 1);
            "> global standards</span> </div>
      <div  class="a-t-center text-center" style="width: 870px;">
            <div class="t-gray1">
                Unlock the value out of your teaching expertise. Teach your students in a better & efficient way. 
NRICH Learning is the platform that elevates your potential to a Global Scale & create wealth.
NRICH Learning is the only education portal that position your business stand tall against your competitors. 
            </div></div>
            <div class="bg-blueliner">
<div class="row">
    <div class="col-md-6">
        <img src="../assets/images-marketing/left-img-cal.svg" class="img-s1" alt="">
    </div>
    <div class="col-md-6">
        <div class="all-set-center">
        <div class="mt-4">
            <div class="right-fshort">
                Courses
            </div>
            <div class="right-fshort1">
                Easily create the courses that you like to teach with simple and intuitive up-load options
            </div>
        </div>
        <div class="mt-4">
            <div class="right-fshort">
                Choices
            </div>
            <div class="right-fshort1">
                Manage Offline process with our Tools and Go Online with our Platform
            </div>
        </div>
        <div class="mt-4">
        <div class="right-fshort">
            Community
        </div>
        <div class="right-fshort1">
            Share your expertise targeted to the right student audience and start teaching 
        </div>
    </div>
    </div>
</div>
</div>
            </div>
<div style="background: #F6FCFF;">


<div class="container ">
    <div class="row mt-5" >
        <div class="col-md-5">
            <div class="text-3box">
                Success in <span style="color: rgba(0, 126, 242, 1);">3 Steps</span> 
            </div>
        </div>
        <div class="col-md-7">
            <div class="text-3box2">
                NRICH Learning pltform is built with user sentiments in mind. Our Focus is to make Education and the intrinsic Learning experience make you The Powerful Leader in Simple steps.
            </div>
        </div>
    </div>
    <div class="row mt-4">
        <div class="col-md-4">
<div class="tex-center set-boxofcard" >
    <img src="../assets/images-marketing/benifitsbox1.svg" class="m-img-h" alt="">
    <div class="box1text mt-2">SIMPLE PROCESS</div>
</div>
        </div>
        <div class="col-md-4">
            <div class="tex-center set-boxofcard">
                <img src="../assets/images-marketing/benifitsbox2.svg" class="m-img-h" alt="">
                <div class="box1text mt-2">POWERFUL METHOD</div>
            </div>
                    </div>
                    <div class="col-md-4">
                        <div class="tex-center set-boxofcard">
                            <img src="../assets/images-marketing/benifitsbox3.svg" class="m-img-h" alt="">
                            <div class="box1text mt-2">LEADERS TO BECOME</div>
                        </div>
                                </div>
    </div>
</div>


</div>


<div class="bg-white">


<div class="container">
    <div class="row">
        <div class="col-md-6 mt-5">
         
        <div class="internship-t1 ">
            TIME TO JOIN
        </div>
        <div class="internship-t2 ">
            NRICH Partnership
        </div>
        <div class="internship-t3 ">
            Reach-out to the largest student community
        </div>
        <div class="row">
          <div class="internship-t5">
            Are You A ?
          </div>
       <div>
      
        <div class="internship-t4 mt-2" >
                Teacher

        </div>
        <div class="mt-2">
           <span class="internship-t4"> School</span> &nbsp;  &nbsp;  <span class="internship-t4"> Trainer</span>
            
    </div>
    
    <div class="mt-2">
       <span class="internship-t4" style="color:rgba(0, 126, 242, 1) ; text-decoration: underline; text-decoration-color: rgba(0, 126, 242, 1);"> Coaching center </span> &nbsp;&nbsp; <span class="internship-t4"> Home Tutor</span>
        
</div>
<div class="mt-2">
    <button class="btn btn-primary" style="color:white;background-color:#007EF2;;"> Start Today</button>
</div>

        </div>
    </div>
</div>
<div class="col-md-6 mt-5">
    <img src="../assets/images-marketing/Kindergarten student-pana.svg" alt="">
</div>
</div>
</div>
<div class="container">
    <div class="textof3box mt-5">
        Say Good-bye to the pain of Marketing. 
NRICH Learning takes your teaching Global
    </div>
    <div class="row mt-3">
<div class="col-md-4">
    <div class="card" style="border-radius: 8px;">
        <div class="card-body" style="padding:30px">
<img src="../assets/images-marketing/3box-publish.svg" class="w-100 h-100" alt="">
        </div>
    </div>
</div>
<div class="col-md-4">
    <div class="card" style="border-radius: 8px;">
        <div class="card-body" >
<img src="../assets/images-marketing/3box-promote.svg" class="w-100 h-100" alt="">
        </div>
    </div>
</div>
<div class="col-md-4">
    <div class="card" style="border-radius: 8px;">
        <div class="card-body" >
<img src="../assets/images-marketing/3box-position.svg" class="w-100 h-100" alt="">
        </div>
    </div>
</div>
    </div>
</div>

<div class="container">
    <div class="row mt-5">
        <div class="col-md-5 mt-5">
            <h1 style="color: #007EF2; ">Why List with NRICH ?</h1>
        </div>
        <div class="col-md-7">
            <div class="l-n-text">Powerful & Affordable platform with Premium Benefits.
                FREE Tools & Technology to make you the Winner & Leader.
                Become the Successful new age Edu-Tech Entrepreneur.</div>
        </div>
    </div>
    <div class="mt-5">
<img src="../assets/images-marketing/btn-set.svg" style="max-height: 769px;" alt="">
    </div>

</div>
</div>
<div class="bg-white">
<div class="container" >
<div class="minus-margin ">
    
    <div 
      class="educator-active gap-35 slider_shadow gray arw-design slick-initialized slick-slider ">
      <!-- <button type="button" class="slick-prev slick-arrow" (click)="prev()">
        <i class="far fa-angle-left"></i>
      </button> -->
      <button type="button" class="slick-prev slick-arrow " aria-disabled="true" (click)="prev()">
        <i class="far fa-angle-left"></i>
      </button>
      <div class="slick-list draggable">
        <div class="slick-track">
          <ngx-slick-carousel class="carousel" #slickModal="slick-carousel" [config]="slideConfig"
            (init)="slickInit($event)" (breakpoint)="breakpoint($event)">
            <div ngxSlickItem *ngFor="let teacher of slides" class="course-item " data-slick-index="0"
              aria-hidden="false" tabindex="0">
            <div class="row">
                <div class="col-md-5">
                    <img src="../assets/images-marketing/teach-online.svg" class="w-100 h-100" alt="">
                </div>
                <div class="col-md-7" style="text-align: left;">
                    <div style="margin-top: 50px; margin-bottom:auto">
                    <h3 style="color:#007EF2 ;">
                        Teach Online Live
                    </h3>
                    <div class="t-o-textgray">Record your Teaching sessions & Stream them LIVE Interact, Conduct exams from your own website & app. 
                        All these at a cost less than your internet bill.</div>
                        <div class="t-o-textdgray"><b>Learning Management System</b></div>
                </div>
                </div>
            </div>
            </div>
          </ngx-slick-carousel>
  
        </div>
      </div>
  
      <button type="button" (click)="next()" class="slick-next slick-arrow" style="display: block" aria-disabled="false">
        <i class="far fa-angle-right"></i>
      </button>
    </div>
  </div></div>
  </div>
  <div class="institue-area gray-bg position-relative">
    <img src="assets/img/wave-1.png" alt="" class="wave-1 position-absolute">
    <img src="assets/img/wave-2.png" alt="" class="wave-2 position-absolute">
    <div class="container cs-padding z-index-1">
        <div class="section-title">
            <h2>Learn With<br>
                <span class="title-pole sign position-relative">
                    Leading Institutes</span>
            </h2>
        </div>

        

        <div class="text-end mb-4">
            <a href="#" class="link_w_icon">View All Tutors<i class="far fa-arrow-right"></i></a>
        </div>
        <div class="minus-margin">
            <div class="institue-active gap-35 slider_shadow gray arw-design right_shadow_active slick-initialized slick-slider"><button type="button" class="slick-prev slick-arrow slick-disabled" aria-disabled="true" style="display: block;"><i class="far fa-angle-left"></i></button>
                
                
                
                
            <div class="slick-list draggable"><div class="slick-track" style="opacity: 1; width: 2092px; transform: translate3d(0px, 0px, 0px);"><div class="course-item slick-slide slick-current slick-active" tabindex="0" style="width: 483px;" data-slick-index="0" aria-hidden="false">
                    <div class="cmn-wrap institue">
                        <div class="top-zone">
                            <div class="institue-lgo">
                                <img src="assets/img/img-11.png" class="img-fluid" alt="">
                            </div>
                            <div class="top-zone-right">
                                <h5>Resilience Law Academy</h5>
                                <div class="details">
                                    <div class="single">
                                        <h6><img class="follower img-fluid" src="assets/img/follower.png" alt="">121
                                        </h6>
                                        <p>Followers</p>
                                    </div>
                                    <div class="single">
                                        <h6><img class="watch-time img-fluid" src="assets/img/watch-time.png" alt="">24
                                        </h6>
                                        <p>Courses</p>
                                    </div>
                                    <div class="single">
                                        <h6><img class="watch-time img-fluid" src="assets/img/watch-time.png" alt="">121
                                        </h6>
                                        <p>Watch Time</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <p>Nrich Learning has taken the initiative to empower education in Orissa with E
                            Skills
                            Academy, an Institute led by top qualified teachers. Nrich Learning through
                            E
                            Skill
                            academy provided various skill learning courses for the students at a
                            reasonable
                            price
                            with local teachers' help.</p>
                        <div class="text-end">
                            <a href="#" class="btn style-1 view-courses" tabindex="0">view courses<i class="far fa-arrow-right"></i></a>
                        </div>
                    </div>
                </div><div class="course-item slick-slide slick-active" tabindex="0" style="width: 483px;" data-slick-index="1" aria-hidden="false">
                    <div class="cmn-wrap institue">
                        <div class="top-zone">
                            <div class="institue-lgo">
                                <img src="assets/img/img-11.png" class="img-fluid" alt="">
                            </div>
                            <div class="top-zone-right">
                                <h5>Resilience Law Academy</h5>
                                <div class="details">
                                    <div class="single">
                                        <h6><img class="follower img-fluid" src="assets/img/follower.png" alt="">121
                                        </h6>
                                        <p>Followers</p>
                                    </div>
                                    <div class="single">
                                        <h6><img class="watch-time img-fluid" src="assets/img/watch-time.png" alt="">24
                                        </h6>
                                        <p>Courses</p>
                                    </div>
                                    <div class="single">
                                        <h6><img class="watch-time img-fluid" src="assets/img/watch-time.png" alt="">121
                                        </h6>
                                        <p>Watch Time</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <p>Nrich Learning has taken the initiative to empower education in Orissa with E
                            Skills
                            Academy, an Institute led by top qualified teachers. Nrich Learning through
                            E
                            Skill
                            academy provided various skill learning courses for the students at a
                            reasonable
                            price
                            with local teachers' help.</p>
                        <div class="text-end">
                            <a href="#" class="btn style-1 view-courses" tabindex="0">view courses<i class="far fa-arrow-right"></i></a>
                        </div>
                    </div>
                </div><div class="course-item slick-slide" tabindex="-1" style="width: 483px;" data-slick-index="2" aria-hidden="true">
                    <div class="cmn-wrap institue">
                        <div class="top-zone">
                            <div class="institue-lgo">
                                <img src="assets/img/img-11.png" class="img-fluid" alt="">
                            </div>
                            <div class="top-zone-right">
                                <h5>Resilience Law Academy</h5>
                                <div class="details">
                                    <div class="single">
                                        <h6><img class="follower img-fluid" src="assets/img/follower.png" alt="">121
                                        </h6>
                                        <p>Followers</p>
                                    </div>
                                    <div class="single">
                                        <h6><img class="watch-time img-fluid" src="assets/img/watch-time.png" alt="">24
                                        </h6>
                                        <p>Courses</p>
                                    </div>
                                    <div class="single">
                                        <h6><img class="watch-time img-fluid" src="assets/img/watch-time.png" alt="">121
                                        </h6>
                                        <p>Watch Time</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <p>Nrich Learning has taken the initiative to empower education in Orissa with E
                            Skills
                            Academy, an Institute led by top qualified teachers. Nrich Learning through
                            E
                            Skill
                            academy provided various skill learning courses for the students at a
                            reasonable
                            price
                            with local teachers' help.</p>
                        <div class="text-end">
                            <a href="#" class="btn style-1 view-courses" tabindex="-1">view courses<i class="far fa-arrow-right"></i></a>
                        </div>
                    </div>
                </div><div class="course-item slick-slide" tabindex="-1" style="width: 483px;" data-slick-index="3" aria-hidden="true">
                    <div class="cmn-wrap institue">
                        <div class="top-zone">
                            <div class="institue-lgo">
                                <img src="assets/img/img-11.png" class="img-fluid" alt="">
                            </div>
                            <div class="top-zone-right">
                                <h5>Resilience Law Academy</h5>
                                <div class="details">
                                    <div class="single">
                                        <h6><img class="follower img-fluid" src="assets/img/follower.png" alt="">121
                                        </h6>
                                        <p>Followers</p>
                                    </div>
                                    <div class="single">
                                        <h6><img class="watch-time img-fluid" src="assets/img/watch-time.png" alt="">24
                                        </h6>
                                        <p>Courses</p>
                                    </div>
                                    <div class="single">
                                        <h6><img class="watch-time img-fluid" src="assets/img/watch-time.png" alt="">121
                                        </h6>
                                        <p>Watch Time</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <p>Nrich Learning has taken the initiative to empower education in Orissa with E
                            Skills
                            Academy, an Institute led by top qualified teachers. Nrich Learning through
                            E
                            Skill
                            academy provided various skill learning courses for the students at a
                            reasonable
                            price
                            with local teachers' help.</p>
                        <div class="text-end">
                            <a href="#" class="btn style-1 view-courses" tabindex="-1">view courses<i class="far fa-arrow-right"></i></a>
                        </div>
                    </div>
                </div></div></div><button type="button" class="slick-next slick-arrow" style="display: block;" aria-disabled="false"><i class="far fa-angle-right"></i></button></div>
        </div>
    </div>
</div>
        </main>

