<main class="fix">
    <div class="teachers-area product-pge gray-bg position-relative fix">
<!-- mobile-card -->
<div class="" style="padding: 60px;">
<div class="card ng">
    <div class="card-body">
<div class="row">
    <div class="col-md-7">
        <h3>
            Own your digital identity
Website & Mobile APPs
        </h3>
    </div>
    <div class="col-md-5">
        <img src="../assets/images-marketing/mobile-lap.svg" style="right: -10px; margin-bottom: -120px; height:600px; margin-left:180px" alt="">
    </div>
</div>
    </div>
</div>
</div>
<div class="text-center">
    <div class="ap1-t">
        Online reputation Matters <br>
  <span class="title-pole">    
NRICH makes it simple</span>  
    </div>
    <div class="ap2-t mt-2">Don’t allow your technology and budgetary limitations stop <br> your dreams. A Subscription with NRICH means you get your <br> website and mobile apps branded as per your choice.</div>
    <div style="padding: 40px;">
    <img src="../assets/images-marketing/tab-rot.svg " class="h-60 w-100" alt="">
</div>
<div class="ap2-t" style="">
    start promoting your teaching skills straight from your <br> website and let the world know that you own your <br> platform.
</div>
</div>


     </div>
     <div  class="cardofback" >
<div class="cardbodyofback " >
    
    <div class="text-center mt-2">
        <div class="ap3-t">
            Teaching Redefined <br>
            <span style="color:rgba(0, 126, 242, 1)">
Edu Tech for Digital Age</span>
        </div>
    </div>
    <div style="background: url(../assets/images-marketing/li.svg); background-position: center; background-repeat: no-repeat;">
    <div class="row" style="margin-top: 100px;">
        <div class="col-md-6">
            <div class="t1 mt-4">
                Start <span style="color: rgba(0, 126, 242, 1);"> Simple</span>
            </div>
            <div class="ap2-t mt-4">
                Teaching Online Made Simple <br>
We built this technology to make your teaching <br> exciting and your lives simple. Period.  
            </div>
            <div class="al mt-4">
                <div><img src="../assets/images-marketing/1i.svg" alt=""></div> 
                <div><img src="../assets/images-marketing/2i.svg" alt="" style="margin-left: 10%;"></div>
                <div><img src="../assets/images-marketing/3i.svg" alt="" style="margin-left: 20%;"></div>
            </div>
            <div class="mt-4">
                <a class="btn box-btn view-course" >EXPLORE <span > <img src="../assets/images-marketing/Keyboard arrow right.svg" alt=""></span> </a>
            </div>
        </div>
        <div class="col-md-6">
            <img src="../assets/images-marketing/image 2.svg" style="height: 80%; width:100%" alt="">
        </div>
    </div>
    <div class="row" style="margin-top: 80px;">
        
        <div class="col-md-6">
            <img src="../assets/images-marketing/image 3.svg" style="height: 80%; width:100%" alt="">
        </div>
        <div class="col-md-6">
            <div class="t1 mt-4">
                Be <span style="color: rgba(0, 126, 242, 1);"> Powerful</span>
            </div>
            <div class="ap2-t mt-4">
                Enrich your teaching skills to make an impact with the students that is powerful.
                  
            </div>
            <div class="al mt-4">
                <div><img src="../assets/images-marketing/1i.svg" alt=""></div> 
                <div><img src="../assets/images-marketing/2i.svg" alt="" style="margin-left: 10%;"></div>
                <div><img src="../assets/images-marketing/3i.svg" alt="" style="margin-left: 20%;"></div>
            </div>
            <div class="mt-4">
                <a class="btn box-btn view-course" >EXPLORE <span > <img src="../assets/images-marketing/Keyboard arrow right.svg" alt=""></span> </a>
            </div>
        </div>
    </div>
    <div class="row" style="margin-top: 80px;">
        <div class="col-md-6">
            <div class="t1 mt-4">
                Become <span style="color: rgba(0, 126, 242, 1);"> Leader</span>
            </div>
            <div class="ap2-t mt-4">
                With easy to use tools show the world that you are the real expert & Leader.
            </div>
            <div class="al mt-4">
                <div><img src="../assets/images-marketing/1i.svg" alt=""></div> 
                <div><img src="../assets/images-marketing/2i.svg" alt="" style="margin-left: 10%;"></div>
                <div><img src="../assets/images-marketing/3i.svg" alt="" style="margin-left: 20%;"></div>
            </div>
            <div class="mt-4">
                <a class="btn box-btn view-course" >EXPLORE <span > <img src="../assets/images-marketing/Keyboard arrow right.svg" alt=""></span> </a>
            </div>
        </div>
        <div class="col-md-6">
            <img src="../assets/images-marketing/image 4.svg" style="height: 60%; width:100%" alt="">
        </div>
    </div>
    
</div></div>
     </div>
     <div style="background-color:  #F6F8FF; ">
        <div class="container cs-padding ">
            <div class="row">
                <div class="col-md-5">
                    <img src="../assets/images-marketing/nkli.svg" class="w-100 h-100" style="height: 100%; width:100%" alt="">
                </div>
                <div class="col-md-7" style="align-items: center;">
                    <div class="ap4-t">Get advantage with 
                     <span style="color: rgba(0, 126, 242, 1);">  power packed features</span> </div>
                     <div class="al mt-4">
                        <div><img src="../assets/images-marketing/1icon.svg" class="ic" alt=""></div> 
                        <div style="margin-left: 25%;"><img src="../assets/images-marketing/2icon.svg" class="ic" alt="" ></div>
                        <div style="margin-left: 25%;"><img src="../assets/images-marketing/2icon.svg" class="ic" alt="" ></div>
                    </div>
                    <div class="al mt-4">
                        <div><img src="../assets/images-marketing/1icon.svg" class="ic" alt=""></div> 
                        <div style="margin-left: 25%;"><img src="../assets/images-marketing/3icon.svg" class="ic" alt="" ></div>
                        <div style="margin-left: 25%;"><img src="../assets/images-marketing/2icon.svg" class="ic" alt="" ></div>
                    </div>
                    <div class="al mt-4">
                        <div><img src="../assets/images-marketing/1icon.svg" alt="" class="ic"></div> 
                        <div style="margin-left: 25%;"><img src="../assets/images-marketing/2icon.svg" class="ic" alt="" ></div>
                        <div style="margin-left: 25%;"><img src="../assets/images-marketing/2icon.svg" class="ic" alt="" ></div>
                    </div>
                    <div class="mt-4">
                <a class="btn box-btn view-course" >& much mre <span > <img src="../assets/images-marketing/Keyboard arrow right.svg" alt=""></span> </a>
            </div>
                </div>
            </div>

            <div class="row" style="margin-top: 250px; min-height: 600px;">
                <div class="card ng" >
                    <div class="card-body">
                        <div class="row">
                            <div class="col-md-5">
                                <img  class="ng-img" src="../assets/images-marketing/iPad Pro (11 inch) Mockup.svg" alt="">

                            </div>
                            <div class="col-md-7" style="padding: 20px;">
                                <div class="tu">
                                    Teach through APP
                                </div>
                                <div class="b-t">
                                    Launch your App
                                    <span 
                                    class="title-pole">
to Teach the World</span>
                                </div>
                                <div class="ap2-t mt-4">
                                    Start Teaching Online through your website and Mobile app makes you the WINNER.
                                      
                                </div>
                                <div class="mt-2">
                                    <button class="btn btn-primary" style="color: white; background:rgba(0, 126, 242, 1)">Create my Mobile app</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="text-center" >
                <h3>It is WISE to be NRICH’ed
                    <br>
                    <span class="title-pole">
                    Fits within the budget & makes life easy</span>
                </h3>
                <div style="margin-top: 120px;">
                <img src="../assets/images-marketing/multi-phones.svg" class="w-100 h-100" alt="">
            </div>
            </div>
        </div>
        
    </div>
</main>