@import url("../../../assets/css/bootstrap.min.css");
@import url("../../../assets/css/all.min.css");
@import url("../../../assets/css/slick.css");
@import url("../../../assets/css/nice-select.css");
@import url("../../../assets/css/main.css");
@import url("../../../assets/css/responsive.css");
.f {
  font-style: Regular;
  font-size: 26px;
  line-height: 32px;
  line-height: 82%;
  color: #7a7a7a;
  margin-top: 20px;
}
.p {
  font-style: Regular;
  font-size: 26px;
  line-height: 32px;
  line-height: 82%;
  color: #00aca5;
  margin-top: 20px;
}

.textdec {
  font-family: poppins;
}
