<main>
  <app-subscription-plan-search></app-subscription-plan-search>
  <app-subscription-contact-us></app-subscription-contact-us>
  <div class="section-cover" id="hero-area" style="background-color: white;">
    <div class="hero-area fix position-relative">
      <img src="assets/img/g-1.svg" alt="" class="g-1 position-absolute" />
      <img src="assets/img/g-2.svg" alt="" class="g-2 position-absolute" />
      <div class="container cs-padding">
        <div class="hero-g-wrapper">
          <div class="hero-left-content">
            <div class="section-title">
              <h2 style="font-size: 38px">
                <span class="title-pole"> </span> Built For,
                <span class="position-relative title-pole">
                  Teachers<img class="text-btm-line position-absolute" src="assets/img/line-1.png" alt="" /></span>
              </h2>
            </div>
            <h4 style="font-family: Poppins;
                font-style: italic;
                font-weight: 700;
                font-size: 22px;
                color: #8491a5;
              ">
              Teach & Earn
            </h4>
            <p style="font-family: Poppins; line-height: 35px;">
              Sign up as a Digital Teacher and start Earning from your own
              campus. Platform customized to meet your aspirations.
            </p>
            <div class="search position-relative">
              <a (click)="scroll(target)" class="btn box-btn gradient-bg">Subscribe NOW</a>
              <img src="../../../assets/images-marketing/img-05.png" style="padding-top: 11px; position: absolute;"
                alt="">
            </div>
          </div>
          <!-- ./hero-left-wrapper -->

          <div class="hero-right-content">
            <div class="hero-main-img-wrap position-relative">
              <img class="hero-main-img img-fluid z-index-1" s src="../assets/images-marketing/subs-1.svg" alt="" />
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="choose-area" style="background-color: white; padding-top: 0px;">
    <div style="text-align: end; padding-right: 3%; padding-top: 3px;">
      <!-- <p style=" font-family: Nanum Brush Script;">time to
        scroll down</p> -->
      <img (click)="scroll(target1)" src="../../../assets/images-marketing/img-13.png" style="width: 5%;" alt="">
    </div>

    <div class="container">
      <div>
        <div class="d-flex">
          <div class="justify-content-start">
            <div class="section-title">
              <h2>
                Platform that makes
                your life
                <span class="title-pole ">
                  Simple</span>
              </h2>
            </div>
          </div>
          <div class="justify-content-end">
            <p style="
                font-weight: 400;
                font-size: 18px;
                line-height: 34px;
                font-feature-settings: 'salt' on, 'liga' off;
                color: #8491a5;
                line-height: 35px;
                font-family: poppins;
                margin-left: 8%;
              ">
              Create your profile in NRICH to unlock the benefits of our Tools & Technology that help you teach at scale
              without extra efforts.
            </p>
          </div>
        </div>
        <div class="row">
          <div class="col-md-4 mt-2">
            <div class="card" style="height: 372px; border-radius: 10px">
              <div class="card" style="
                  background: #f6fcff;
                  border-radius: 10px;
                  height: 348px;
                  position: absolute;
                  top: 10px;
                  left: 10px;
                  bottom: 10px;
                  right: 10px;
                ">
                <div class="text-center">
                  <h3 style="
                      margin-top: 10px;
                      font-weight: 700;
                      font-size: 22px;
                      color: #8491a5;
                      font-family: poppins;
                    ">
                    Social Connect
                  </h3>
                  <!-- <img src="../../../assets/images-marketing/Chat Main Screen.svg"
                    style="height: 284px; width: 175px; border: 1px #EDF3F6 solid; border-radius: 10px;" class="mt-10"
                    alt="" /> -->
                  <img src="../../../assets/images-marketing/Chat Main Screen.svg" alt="">
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-4 mt-2">
            <div class="card" style="height: 372px; border-radius: 10px">
              <div class="card" style="
                  background: #f6fcff;
                  border-radius: 10px;
                  height: 348px;
                  position: absolute;
                  top: 10px;
                  left: 10px;
                  bottom: 10px;
                  right: 10px;
                ">
                <div class="text-center">
                  <h3 style="
                      margin-top: 10px;
                      font-weight: 700;
                      font-size: 22px;
                      color: #8491a5;
                      font-family: poppins;
                    ">
                    Smart Listing </h3>
                  <!-- <img src="../../../assets/images-marketing/img-11.png"
                    style="height: 284px; width: 175px; border: 1px #EDF3F6 solid;  border-radius: 10px;" class="mt-10"
                    alt="" /> -->
                  <img src="../../../assets/images-marketing/Teacher Details.svg" alt="">
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-4 mt-2">
            <div class="card" style="height: 372px; border-radius: 10px">
              <div class="card" style="
                  background: #f6fcff;
                  border-radius: 10px;
                  height: 348px;
                  position: absolute;
                  top: 10px;
                  left: 10px;
                  bottom: 10px;
                  right: 10px;
                ">
                <div class="text-center">
                  <h3 style="
                      margin-top: 10px;
                      font-weight: 700;
                      font-size: 22px;
                      color: #8491a5;
                      font-family: poppins;
                    ">
                    Tutor Profile
                  </h3>
                  <!-- <img src="../../../assets/images-marketing/img-12.png"
                    style="height: 284px; width: 175px; border: 1px #EDF3F6 solid;  border-radius: 10px;" class="mt-10"
                    alt="" /> -->
                  <img src="../../../assets/images-marketing/Course Listing.svg" alt="">
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div #target1 class="choose-area" style="background-color: white;">
    <div class="container">
      <div class="row" style="width: 100%">
        <div class="col-md-4">
          <h2 style="font-weight: 700; font-size: 38px; line-height: 57px; font-family: Poppins;">
            <span class="title-pole position-relative">Get Promoted</span>
          </h2>
          <p style="color: #4C535D; line-height: 35px; font-family: Poppins;">
            List your profile on our platform and gain visibility with the
            Student community. Our Social Connect helps you to be present where
            it matters. NRICH power-packed features help you get promoted & be
            the winner
          </p>
          <div style="
              font-style: Regular;
              margin-top: 40px;
              font-size: 26px;
              line-height: 32pxl;
              line-height: 82%;
              font-family: Poppins;
            ">
            <span style="color: aqua"> ✓</span> Publish your Profile
          </div>
          <div style="
              font-style: Regular;
              font-size: 26px;
              margin-top: 45px;
              line-height: 32pxl;
              line-height: 82%;
              font-family: Poppins;
            ">
            <span style="color: aqua"> ✓</span> Promote your Brand
          </div>
          <div style="
              font-style: Regular;
              font-size: 26px;
              margin-top: 45px;
              line-height: 32pxl;
              line-height: 82%;
              font-family: Poppins;
            ">
            <span style="color: aqua"> ✓</span> Position your Leadership
          </div>
          <div class="search position-relative" style="margin-top: 80px">
            <a class="btn box-btn gradient-bg">Request A Demo</a>
          </div>
        </div>
        <div class="col-md-8">
          <img src="../../../assets/images-marketing/img-06.png" style="width: 109%;" alt="">
        </div>
      </div>
    </div>
  </div>
  <div class="branding-area" style="padding-top: 0px;">
    <div style="text-align: end; padding-right: 3%; padding-top: 3px;">
      <img (click)="scroll(target2)" src="../../../assets/images-marketing/img-14.png" style="width: 5%;" alt="">
    </div>
    <div class="container">
      <div class="text-center">
        <div class="section-title">
          <h2 class="title-pole" style="font-family: poppins;">
            Livestream your Teaching
            <span class="title-pole">
              at &nbsp;
            </span>
            <span class="position-relative title-pole">
              NRICH Live<img class="text-btm-line position-absolute" src="assets/img/line-1.png" alt="" /></span>
          </h2>
          <div style="
              margin-top: 25px;
              font-style: Regular;
              font-size: 18px;
              line-height: 33.97px;
              line-height: 126%;
              color: #8491a5;
              font-family: Poppins;
            ">
            Write on the board, ask a question, conduct an assessment; do everything you love to do in a classsroom.
            Plus have a firm grip on the metrics.
          </div>
        </div>


        <div class="course-active gap-35 slider_shadow arw-design right_shadow_active slick-initialized slick-slider">
          <button type="button" class="slick-prev slick-arrow " aria-disabled="true" (click)=" prev()">
            <i class="far fa-angle-left"></i>
          </button>

          <div class="slick-list draggable">
            <div class="slick-track">
              <ngx-slick-carousel class="carousel" #slickModal="slick-carousel" [config]="slideConfig"
                (init)="slickInit($event)" (breakpoint)="breakpoint($event)">
                <div ngxSlickItem class="course-item slick-slide slick-current slick-active" tabindex="0"
                  data-slick-index="0" aria-hidden="false" *ngFor="let item of firstSlides">
                  <div class="card" style="border-radius: 10px; top: 10px; left: 10px; bottom: 10px; right: 10px;">
                    <div class="card-body">
                      <img class="img-fluid" [src]="item" style="width: 100%; height: 100%" alt="" />
                    </div>
                  </div>
                </div>
              </ngx-slick-carousel>
            </div>
          </div>
          <button type="button" (click)=" next()" class="slick-next slick-arrow" style="display: block"
            aria-disabled="false">
            <i class="far fa-angle-right"></i>
          </button>
        </div>


      </div>
    </div>
  </div>



  <div class="choose-area" style="padding-bottom: 70px;">
    <div class="container">
      <app-carousel1></app-carousel1>
    </div>
  </div>


  <div class="section-cover" id="hero-area" style="background-color: white; padding-top: 0px;">
    <div class="hero-area fix position-relative">
      <div class="container">
        <div class="hero-g-wrapper">

          <div class="hero-left-content">
            <div class="hero-main-img-wrap position-relative">
              <img class="hero-main-img img-fluid w-100 z-index-1" src="../../../assets/images-marketing/img-09.png"
                alt="" />
            </div>
          </div>


          <div class="hero-right-content">
            <div class="section-title">
              <h2 style="font-size: 42px; font-family: poppins;">
                Launch Your Own
                <span class="title-pole position-relative">Website <img class="text-btm-line position-absolute"
                    src="assets/img/line-1.png" alt="">
                </span>
                <span class="title-pole">
                  &nbsp; & App
                </span>
              </h2>
            </div>
            <h6 style="font-family: poppins; color: #8491A5; font-style: italic;">Your own Digital Branding</h6>
            <p style="font-family: poppins; line-height: 30px;">Owning a website & releasing a mobile app is the height
              of a successful
              brand. Get NRICH to unlock the website & launch the mobile app. All in your name.
            </p>
            <a class="btn box-btn gradient-bg" style="margin-top: 20px;">Get Started</a>
            <p style="font-family: poppins; color: #8491A5; margin-top: 10px;">*All within minutes</p>
          </div>


        </div>
      </div>
    </div>
  </div>


  <div #target2 class="section-cover fix" id="course-area" style="background-color: white;">
    <div class="course-area position-relative">
      <img src="assets/img/slice-1.png" alt="" class="slice-1 position-absolute" />
      <div class="container cs-padding">
        <div>
          <div class="section-title text-center" style="margin-right: 8%; margin-left: 8%;">
            <h3 style="font-size: 40px;">
              Make teaching &nbsp;<span class="title-pole ">Powerful</span>
            </h3>
            <p style="color: #8491a5;line-height: 35px;">
              With a laptop and internet connection, become the Teacher of the Digital Era.
              Launch your own digital campus & start teaching the world from your home or class.
              NRICH Learning will provide all the tools, technology and gadgets at No extra cost..
            </p>
          </div>
        </div>




        <div style="margin-bottom :100px;">
          <app-mobile-social-slider></app-mobile-social-slider>
        </div>



        
      </div>
    </div>
  </div>


  <div class="choose-area" style="background: white;">
    <div class="container">
      <div class="section-title mb-0 text-center">
        <h2 style="font-family: poppins;">Launch your brand & be the
          <span class="title-pole">
            Leader
          </span>
        </h2>
        <div style="font-size: 14px; line-height: 33.97px; color: #8491a5; font-family: poppins; line-height: 30px;">
          Take your teaching globally, enroll students Online
          & manage your operations Digitally
          Get your own website & mobile app with your subscription
        </div>
        <div style="padding-top: 20px;">
          <a class="btn box-btn gradient-bg g-border-style"><span class="gradient-text">Launch my Brand NOW</span></a>
        </div>
      </div>
      <div>
        <img src="../assets/Screenshot 2022-09-13 155511.png" style="width: 100%; height:100%" alt="">
        <div></div>
      </div>
    </div>
  </div>
  <div class="choose-area">
    <div class="container">
      <div class="section-title mb-0 text-center">
        <h2>Pricing Plan that suits your Budget
          <span _ngcontent-btv-c218="" class="title-pole  position-relative">
          </span>
        </h2>
        <div style="Font-style: Regular; font-size: 22px; line-height: 33.97px; color:#7A7A7A;">
          Every plan takes you ONE STEP closer to be the Leader
        </div>
        <div #target>
          <div style="padding-top: 20px;" routerLink="/auth/login" *ngIf="!isLogin" >
            <a class="btn box-btn gradient-bg">Start Your 14-day free trial</a>
          </div>
        </div>
      </div>

      <div class="row" style="margin-top: 50px;">
        <div *ngIf="Annualplans.length==0">
          No Active Plan Found.
        </div>
        <div class="col-md-4 mb-2" *ngFor="let monthly of Annualplans">
          <div class="card" style="border-radius: 15px; height: 500px;">
            <div class="card-body">
              <div class="text-center textdec">
                <div style="Font-style: Regular;
                    Font-size: 18px;
                    Line-height: 32px">{{monthly?.pricingPlanName}}</div>
                <div style="Font-style: Bold;
                    Font-size: 48px;
                    Line-height: 66px;
                    color: #007EF2;">₹{{monthly?.price}}/-</div>
                <div style="Font-style: BOld;
                     Font-size: 18px;
                     Line-height: 32px;
                     color: #7A7A7A;">7 DAYS TRIAL</div>
              </div>
              <div class="textdec" style="margin-top: 30px;">
                <ul style="line-height: 35px;">
                  <li *ngFor="let feature of monthly?.features">. {{feature.featureDescription}}
                  </li>
                </ul>
              </div>

            </div>
            <div class="text-center " style="margin-bottom: 40px;">
              <button type="button" class="btn btn-outline-primary"
                (click)="purchase(monthly?.id,monthly?.price,'pricingplan')">Choose Plan</button>
            </div>
          </div>
        </div>



      </div>
    </div>
  </div>
  <div class="choose-area" style="background-color: white;">
    <div class="container">
      <div class="section-title mb-0 text-center">
        <h3 style="font-family: poppins;">Enjoy The
          <span _ngcontent-btv-c218="" class="title-pole  position-relative"> Core Features On Any Plan
          </span>
          On
          <span _ngcontent-btv-c218="" class="title-pole  position-relative"> Any Plan
          </span>
        </h3>
        <div style="font-style: Regular;font-size: 22px;line-height: 33.97px;color:#7A7A7A;font-family: poppins;">Our
          Promising Soltions For Every Need
        </div>
        <div>

        </div>

      </div>
      <div class="row " style="margin-top:40px ;">
        <div class="col-md-6">
          <div class="f" style="margin-top: 35px; font-family: poppins; font-size: 20px;"> ✓ Whitelabelled Video
            Conference</div>
          <div class="f" style="margin-top: 35px; font-family: poppins; font-size: 20px;"> ✓ White Board for interaction
          </div>
          <div class="f" style="margin-top: 35px; font-family: poppins; font-size: 20px;"> ✓ Learning Management System
          </div>
          <div class="f" style="margin-top: 35px; font-family: poppins; font-size: 20px;"> ✓ AI Based attendance</div>
          <div class="f" style="margin-top: 35px; font-family: poppins; font-size: 20px;"> ✓ Assignments & Surveys</div>
          <div class="f" style="margin-top: 35px; font-family: poppins; font-size: 20px;"> ✓ Digital Library</div>
          <div class="f" style="margin-top: 35px; font-family: poppins; font-size: 20px;"> ✓ Free Profile at Social
            Connect </div>
        </div>
        <div class="col-md-6">
          <div class="f" style="margin-top: 35px; font-family: poppins; font-size: 20px;"> ✓ Secured SSL Platforms</div>
          <div class="f" style="margin-top: 35px; font-family: poppins; font-size: 20px;"> ✓ Subdomain Page in your name
          </div>
          <div class="f" style="margin-top: 35px; font-family: poppins; font-size: 20px;"> ✓ Enable single sign-on for
            your platform
          </div>
          <div class="f" style="margin-top: 35px; font-family: poppins; font-size: 20px;"> ✓ Sell globally with
            country-specific pricing
          </div>
          <div class="f" style="margin-top: 35px; font-family: poppins; font-size: 20px;"> ✓ Customized reports and
            Analytics</div>
          <div class="f" style="margin-top: 35px; font-family: poppins; font-size: 20px;"> ✓ FREE Customer Support Desk
          </div>
          <div class="f" style="margin-top: 35px; font-family: poppins; font-size: 20px;"> ✓ FREE STORAGE to save your
            contents</div>
        </div>
      </div>
    </div>
  </div>

  <app-faq></app-faq>

</main>