<footer class="footer-area">
    <div class="container cs-padding">
        <div class="footer-top">
            <div class="d-flex flex-row align-items-center">
                <div class="col-md-6 col-4">
                    <a (click)="commingSoon()" class="ft-logo"><img src="../assets/img/ft-logo.svg" alt="" class="img-fluid"></a>
                </div>
                <div class="col-md-6 col-8">
                    <div class="ft-top-right">
                        <p>Ready to get started?</p>
                        <a routerLink="/auth/login" class="btn register-btn">Register Now</a>
                    </div>
                </div>
            </div>
        </div>

        <div class="ft-middle-g-wrapper">
            <div class="newsletter">
                <h5>Subscribe to our <br>
                    newsletter</h5>
                <div class="newsletter-input position-relative">
                    <input type="text" placeholder="Email Address">
                    <button class="position-absolute"><i class="fal fa-angle-right"></i></button>
                </div>
            </div>
            <div class="footer-widget">
                <h6>Services</h6>
                <ul class="ft-links">
                    <li><a (click)="commingSoon()">Smart LMS</a></li>
                    <li><a (click)="commingSoon()">Institutes</a></li>
                    <li><a (click)="commingSoon()">Marketing</a></li>
                    <li><a (click)="commingSoon()">Offline</a></li>
                </ul>
            </div>
            <div class="footer-widget">
                <h6>About</h6>
                <ul class="ft-links">
                    <li><a (click)="commingSoon()">Our Story</a></li>
                    <li><a (click)="commingSoon()">Benefits</a></li>
                    <li><a (click)="commingSoon()">Team</a></li>
                    <li><a (click)="commingSoon()">Careers</a></li>
                </ul>
            </div>
            <div class="footer-widget">
                <h6>Resources</h6>
                <ul class="ft-links">
                    <li><a (click)="commingSoon()">Blog</a></li>
                    <li><a (click)="commingSoon()">Updates</a></li>
                    <li><a (click)="commingSoon()">Products</a></li>
                    <li><a (click)="commingSoon()">Sitemap</a></li>
                </ul>
            </div>
            <div class="footer-widget">
                <h6>Help</h6>
                <ul class="ft-links">
                    <li><a (click)="commingSoon()">FAQs</a></li>
                    <li><a (click)="commingSoon()">Enquire</a></li>
                    <li><a routerLink="/marketing/contact-us">Contact Us</a></li>
                </ul>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6 order-2 order-md-1">
                <div class="copyright-text">
                    <p>©2022 Nrich Learning</p>
                </div>
            </div>
            <div class="col-md-6 order-1 order-md-2">
                <ul class="social-links d-flex align-items-center justify-content-end">
                    <li><a (click)="commingSoon()"><i class="fab fa-facebook-f"></i></a></li>
                    <li><a (click)="commingSoon()"><i class="fab fa-twitter"></i></a></li>
                    <li><a (click)="commingSoon()"><i class="fab fa-instagram"></i></a></li>
                    <li><a (click)="commingSoon()"><i class="fab fa-linkedin-in"></i></a></li>
                </ul>
            </div>
        </div>
    </div>
</footer>