<main>
    <div class="section-cover text-dec" id="hero-area" style="background-color: white;">

        <app-student-search></app-student-search>
        <app-student-contact-us></app-student-contact-us>

        <div class="branding-area position-relative">
            <div class="container cs-padding z-index-1">
                <div class="brand-content position-relative">
                    <div class="section-title mb-0">
                        <h3 class="textdec">
                            <span style="color: #007EF2;" class="position-relative">
                                Enrich your learning outcomes
                            </span>
                        </h3>
                        <p class="textdec" style="color: #8491A5; line-height: 35px;">
                            Search the RIGHT Course, Teacher & School through our Directory
                            Opt for Online or Offline with a DEMO & Start Learning.through our Integrated Platform.
                        </p>
                    </div>
                    <div>
                        <div style="margin-top: 30px;">
                            <img src="../assets/images-marketing/12.png" style="width: 100%; height:100%" alt="">
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <app-student-static-content></app-student-static-content>

        <app-categories></app-categories>

        <div class="section-cover fix" id="course-area">
            <div class="course-area position-relative">
                <div class="container cs-padding">
                    <div class="row" style="margin-top: 40px">
                        <div class="col-md-6">
                            <div class="section-title" style="margin-bottom: 25px;">
                                <h2 class="textdec">Learning <br>
                                    <span class="title-pole sign position-relative">Made POWERFUL</span>
                                </h2>
                            </div>

                        </div>
                        <div class="col-md-6">
                            <p class="textdec" style="color: #8491a5;line-height: 35px;">
                                NRICH is a 1 Stop Platform for all your learning needs. From Directory Listing to
                                Enrollment
                                & our Learning Management Systems you get all aspects of Learning addressed with one
                                subscription
                            </p>
                        </div>
                    </div>
                    <div class="row" style="margin-top: 20px">
                        <div class="col-md-4 textdec">
                            <div class="card" style="border-radius: 14px;">
                                <div class="card-body">
                                    <div class="card"
                                        style="background: #F6F8FF; padding:13px;  border-radius: 15px;max-height: 320px; overflow: hidden;">
                                        <div class="card-body ">
                                            <div class="text-center textdec">
                                                <h5 class="textdec" style="color: #8491A5;">Private Chat</h5>
                                                <img src="../assets/Chat Main Screen.png" height="100%" alt="">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                        <div class="col-md-4 textdec">
                            <div class="card" style="border-radius: 14px;">
                                <div class="card-body">
                                    <div class="card"
                                        style="background: #F6F8FF; padding:13px;  border-radius: 15px;max-height: 320px; overflow: hidden;">
                                        <div class="card-body ">
                                            <div class="text-center textdec">
                                                <h5 class="textdec" style="color: #8491A5;"> Dedicated Timeline</h5>
                                                <img src="../assets/images-marketing/Timeline.svg" height="100%" alt="">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                        <div class="col-md-4 textdec">
                            <div class="card" style="border-radius: 14px;">
                                <div class="card-body">
                                    <div class="card"
                                        style="background: #F6F8FF; padding:13px;  border-radius: 15px;max-height: 320px; overflow: hidden;">
                                        <div class="card-body ">
                                            <div class="text-center textdec">
                                                <h5 class="textdec" style="color: #8491A5;">News Feed</h5>
                                                <img src="../assets/images-marketing/News Feed.svg" height="100%"
                                                    alt="">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <app-home-courses></app-home-courses>

        <div class="section-cover fix" id="course-area" style="background-color: white; padding-top: 0px;">
            <div class="course-area position-relative">
                <img src="assets/img/slice-1.png" alt="" class="slice-1 position-absolute" />
                <div class="container cs-padding">
                    <div>
                        <div class="section-title text-center" style="margin-right: 8%; margin-left: 8%;">
                            <h3 style="font-size: 40px;" class="textdec">
                                <span class="title-pole ">Social Connect </span> the future of learning
                            </h3>
                            <p class="textdec" style="color: #8491a5;line-height: 35px;">
                                When you subscribe to NRICH you become a part of The Future of Social Media through our
                                Social Connect - a Platform to build your Professional & Acedmic Networking.
                                Connect, Colloborate & Conquer the World
                            </p>
                        </div>
                    </div>
                    <div  style="margin-bottom: 100px;">
                        <app-mobile-social-slider></app-mobile-social-slider>
                    </div>
                </div>
            </div>
        </div>
    </div>

</main>