<div class="section-cover" id="hero-area" style="background-color: white;">
    <div class="hero-area fix position-relative" style="padding-bottom: 100px;">
        <div class="container cs-padding">
            <div style="padding-top: 20px; padding-bottom: 50px;">
                <img src="../../../../assets/images-marketing/img-01.png" style="width: 100%; height:100%" alt="">
            </div>
            <div style="padding-top: 50px; padding-bottom: 50px;">
                <img src="../../../../assets/images-marketing/img-02.png" style="width: 100%; height:100%" alt="">
            </div>
            <div style="padding-top: 50px; padding-bottom: 50px;">
                <img src="../../../../assets/images-marketing/img-03.png" style="width: 100%; height:100%" alt="">
            </div>
            <div style="padding-top: 50px; padding-bottom: 50px;">
                <img src="../../../../assets/images-marketing/img-04.png" style="width: 100%; height:100%" alt="">
            </div>
        </div>
    </div>
</div>