<form [formGroup]="form">
    <div class="cta-area position-relative z-index-2">
        <div class="container type-2 cs-padding">
            <div class="cta-g-wrapper">
                <h2>Contact Us</h2>
                <fieldset>
                    <legend>Full Name</legend>
                    <input class="form-control" type="text" formControlName="name" placeholder="John Smith"
                        id="fullname" autocomplete="off">
                </fieldset>
                <fieldset>
                    <legend>Contact Number</legend>
                    <input class="form-control" type="text" formControlName="mobileNumber" placeholder="Contact Number"
                        id="number" autocomplete="off" (keydown)="onlyNumeric($event)">
                </fieldset>
                <fieldset>
                    <legend>Courses</legend>
                    <input class="form-control" type="text" list="codes" formControlName="id" placeholder="Enter Course"
                        [(ngModel)]="courseName" (input)="getCourses($event)" [matAutocomplete]="auto" />
                    <mat-autocomplete autoActiveFirstOption #auto="matAutocomplete">
                        <mat-option *ngFor="let option of courses" [value]="option.courseName">
                            {{option.courseName}}
                        </mat-option>
                    </mat-autocomplete>
                </fieldset>
                <div class="action h-100 w-100">
                    <button href="#" (click)="submit()"
                        class="btn btn-medium_round d-flex align-items-center justify-content-center text-uppercase h-100 w-100"><span
                            class="text-gradient">Submit</span></button>
                </div>
            </div>
        </div>
    </div>
</form>