<main>
    <app-home-search></app-home-search>
    <div id="contact">
        <app-contact-us></app-contact-us>
    </div>
    <app-categories></app-categories>
    <app-home-courses></app-home-courses>


    <div class="section-cover" id="step-area">
        <div class="step-area gray-bg position-relative section">
            <img src="assets/img/s-t-1.png" alt="" class="st-1 position-absolute start-0">
            <div class="container cs-padding z-index-1">
                <div class="section-title text-center">
                    <h2>In 3 steps become
                        <span class="title-pole sign position-relative">The Leader </span>
                    </h2>
                </div>
                <div class="step-g-wrapper">
                    <div class="step-left">
                        <img src="assets/img/frame.png" class="img-fluid" alt="">
                    </div>
                    <div class="step-right">
                        <div class="single-step">
                            <div class="numbering"><img src="assets/img/1.png" alt="" class="img-fluid"></div>
                            <div class="content">
                                <h5>Search Resources</h5>
                                <p>Visit our Directory page to search for any resources related to your learning needs.
                                    Select from the wide choice of Schools, Institutes, Teachers, Course Materials,
                                    Workshops to enrich your knowledge</p>
                            </div>
                        </div>
                        <div class="single-step">
                            <div class="numbering"><img src="assets/img/2.png" alt="" class="img-fluid"></div>
                            <div class="content">
                                <h5>Compare Choice</h5>
                                <p>Make sure you are making the right decision. Compare the available choices,
                                    read through the reviews and book for a Demo session, wherever available to
                                    get all your concerns addressed.</p>
                            </div>
                        </div>
                        <div class="single-step">
                            <div class="numbering"><img src="assets/img/3.png" alt="" class="img-fluid"></div>
                            <div class="content">
                                <h5>Enrich Learning</h5>
                                <p>Learn through NRICH Live integrated with Learning Management System.
                                    Convenience of Online Learning plus the advantages of classroom
                                    experience with our Digital Board, Chat & Assessment tools</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div> <!-- ./step-area -->
    </div>

    <!-- <div class="branding-area position-relative">
        <img src="assets/img/qq.svg" alt="" class="qq end-0 top-0 position-absolute">
        <img src="assets/img/g-2.svg" alt="" class="g-2 position-absolute">
        <div class="container cs-padding z-index-1">
            <div class="brand-content position-relative">
                <img src="assets/img/sq-1.png" alt="" class="sq-1 position-absolute">
                <img src="assets/img/sq-2.png" alt="" class="sq-2 position-absolute">
                <div class="section-title mb-0">
                    <h2>Time To Start Your Course <br>
                        <span class="title-pole sign position-relative">
                            @Nrich Learning ?
                        </span>
                    </h2>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sit dictum fermentum platea
                        phasellus. Lectus faucibus non sit velit purus nisl tortor sodales in. Rhoncus vulputate
                        accumsan placerat facilisi libero.</p>
                    <a [routerLink]="['/marketing/course-list']" [queryParams]="{search: 'allCourses'}"
                        class="btn box-btn view-course">View Courses</a>
                </div>
            </div>
        </div>
    </div>  -->

    <div class="learn-more-area fix position-relative section">
        <div class="container type-2 cs-padding z-index-1">
            <div class="row">
                <div class="col-lg-6">
                    <div class="lm-content">
                        <div class="lf">
                            <h2><span>Nrich Learning For</span>TEACHERS</h2>
                            <a routerLink="/marketing/subscription" class="btn learn-more two">Learn more<img
                                    class="img-fluid" src="assets/img/at-1.svg" alt=""></a>
                        </div>

                        <div class="rg">
                            <img src="assets/img/ln-1.png" alt="">
                        </div>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="lm-content white">
                        <div class="lf">
                            <h2><span>Nrich Learning For</span>STUDENT</h2>
                            <a routerLink="/marketing/nrich-for-student" class="btn learn-more two"><img
                                    class="img-fluid" src="assets/img/at-2.svg" alt="">Learn
                                more</a>
                        </div>

                        <div class="rg">
                            <img src="assets/img/ln-2.png" alt="">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <app-educators></app-educators>

    <app-institutes></app-institutes>

    <app-experts></app-experts>

    <div class="choose-area fix">
        <div class="container cs-padding">
            <div class="choose-g-wrapper">
                <div class="section-title">
                    <h2>Why Choose <br>
                        <span class="title-pole sign position-relative">
                            Nrich Learning</span>
                    </h2>
                </div>
                <div class="choose-item">
                    <div class="ch-icn">
                        <img src="assets/img/ch-1.png" class="img-fluid" alt="">
                    </div>
                    <div class="ch-content">
                        <h6>Marketplace</h6>
                        <p>We are happy to pass on the spiritual culture to the next </p>
                    </div>
                </div>
                <div class="choose-item">
                    <div class="ch-icn">
                        <img src="assets/img/ch-1.png" class="img-fluid" alt="">
                    </div>
                    <div class="ch-content">
                        <h6>Marketplace</h6>
                        <p>We are happy to pass on the spiritual culture to the next </p>
                    </div>
                </div>
                <div class="choose-item">
                    <div class="ch-icn">
                        <img src="assets/img/ch-2.png" class="img-fluid" alt="">
                    </div>
                    <div class="ch-content">
                        <h6>LMS</h6>
                        <p>We are happy to pass on the spiritual culture to the next </p>
                    </div>
                </div>
                <div class="choose-item">
                    <div class="ch-icn">
                        <img src="assets/img/ch-3.png" class="img-fluid" alt="">
                    </div>
                    <div class="ch-content">
                        <h6>Accounting</h6>
                        <p>We are happy to pass on the spiritual culture to the next </p>
                    </div>
                </div>
                <div class="choose-item">
                    <div class="ch-icn">
                        <img src="assets/img/ch-4.png" class="img-fluid" alt="">
                    </div>
                    <div class="ch-content">
                        <h6>Streaming</h6>
                        <p>We are happy to pass on the spiritual culture to the next </p>
                    </div>
                </div>
            </div>
        </div>
    </div> <!-- ./choose-area -->

    <app-blogs></app-blogs>

    <app-faq></app-faq>

    <!-- <app-teacher-registration (scrolltocontact)=scrolltop($event)> </app-teacher-registration> -->
</main>