<div class="section-cover" id="apply-area">
    <div class="ins-area fix bg-white">
        <div class="container type-2 cs-padding">
            <div class="ins-row-type-one">
                <div class="ins-el-box position-relative">
                    <img class="img-fluid position-absolute bottom-0 ins-t-1" src="assets/img/ins-t-1.png" alt="">
                    <div class="ins-element blue">
                        <div class="ins-el-inner">
                            <h5>Become An Instructor</h5>
                            <p>Unable decide the curated courses for your skillset? <br>
                                Grab a free demo right now !</p>
                            <a (click)="scroll('contact')" class="btn box-btn fill-white small round-60"><i
                                    class="far fa-plus-circle"></i>Apply
                                Now</a>
                        </div>
                    </div>
                </div>
                <a href="#" class="ins-img d-block"><img src="assets/img/ins-1.png" alt="" class="img-fluid w-100"></a>
            </div>

            <div class="ins-row-type-two">
                <a href="#" class="ins-img d-block"><img src="assets/img/ins-1.png" alt="" class="img-fluid w-100"></a>
                <div class="ins-el-box position-relative">
                    <img class="img-fluid position-absolute bottom-0 ins-t-1 two" src="assets/img/ins-t-2.png" alt="">
                    <div class="ins-element green">
                        <div class="ins-el-inner">
                            <h5>Become An Instructor</h5>
                            <p>Unable decide the curated courses for your skillset? <br>
                                Grab a free demo right now !</p>
                            <a href="#" class="btn box-btn fill-white small round-60"><i
                                    class="far fa-plus-circle"></i>Contact Us</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div> <!-- ./ins-area -->
</div>